/*----------------- Responsive ---------------------*/
@media (max-width: 1280px){
	
	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
		max-width: inherit;
	}

}

@media (max-width: 1200px){
	
	.wrapper{margin: 0px;}
	
	.top-menu ul li{
		padding: 0 14px;
	}

}

/* Large desktop */
@media (max-width : 1135px){
	
	.lgo_web_hersindo_lg{
		max-width: 315px;
		padding-top: 4px;
	}
	.lgo_web_hersindo_lg a{
		display: block;
		max-width: 315px;
	}
	.lgo_web_hersindo_lg img{
		border: 0px;
	}
	.blocks_bottom_scrolldown_hm .dblock a{
		max-width: 100px; margin: 0 auto;
	}
	section#abouts.default_sc .insides_home_about .lefts_desc{
		padding-right: 20px;
	}
	section#managements_home.default_sc{
		min-height: inherit;
	}
	section#managements_home.default_sc .prelatife{
		padding-top: 16%;
		padding-bottom: 16%;
	}
	footer.foot .t_footers{
		font-size: 13px;
	}
	.lists_icon_bannerHome .items span.titles{
		font-size: 15px;
	}
	.back_inside_about_bottom2 .insides .margin-bottom-45 p{
		font-size: 25px;
	}
	.outers_listcommitment_about{
		padding-top: 50px;
	}

	.box-form.tl-contact-form form{
		max-width: 980px;
	}
	
}
/*(max-width : 1024px) and*/
@media (max-width: 1200px){


}

@media (min-width : 1003px) {
	
	.headers-responss{ display: none; }	
	.hidden-headersetku{ display: block; }

}

@media (max-width : 1002px) {
	
	.headers-responss{ display: none; }	

	.container{
		width: 100%;
		border: none;
		padding: 0 15px;
	}

	header.head{
		/*height: auto;
		background: none;
		background-color: #fff;*/
	}
	header.head.homep{ 
		/*position: relative;*/
		float: none; 
	}

	.lgo-web-respn img{ display: block; margin: 0 auto; text-align: center; }
	
	/*updates reponsive 980*/
    .lgo_web_hersindo_lg{
		max-width: 275px;
		padding-top: 4px;
	}
	.lgo_web_hersindo_lg a{
		display: block;
		max-width: 275px;
	}
	.top-menu ul li a{
		font-size: 15px;
	}
	.top-menu ul li{
		padding: 0 12px;
	}
	section#abouts.default_sc .insides_home_about .lefts_desc{
		padding-right: 0;
		padding-bottom: 3.5em;
		text-align: center;
	}
	section#abouts.default_sc .insides_home_about .lefts_desc p{
		text-align: center;
	}
	a.btns_purpledefaults{
		margin: 0 auto;
	}
	section#abouts.default_sc .insides_home_about .pictures{}
	section#abouts.default_sc .insides_home_about .pictures img{
		display: block; margin: 0 auto;
	}

	.lists_icon_bannerHome {
	    max-width: 550px;
	    margin: 0 auto;
	}
	.lists_icon_bannerHome .items{
		margin-bottom: 1.8em;
	}

	footer.foot .lefts_footer{
		margin-bottom: 2.5em;
		text-align: center;
	}
	footer.foot .padding-left-30{
		padding-left: 0;
		text-align: center;
	}
	footer.foot .logo_webfooter{
		margin: 0 auto;
	}
	footer.foot .logo_webfooter img{
		display: block; margin: 0 auto;
	}
	footer.foot .padding_lefts_105{
		padding-left: 0;
	}
	.illustra_about .row{
		margin: 0;
	}
	.illustra_about .row .col-md-4{
		padding: 0px;
	}
	.illustra_about .picture{
		padding-bottom: 1em;
	}
	.illustra_about .picture img{
		display: block; margin: 0 auto; text-align: center;
	}
	.outers_listcommitment_about{
		text-align: center;
	}

}

@media (max-width: 980px){
	
	header .height-50{
		height: 30px;
	}
	header .top-menu ul li {
	    padding: 0 7px;
	}
	.top-menu ul li a {
	    font-size: 14px;
	}
	.outers-back-header{
		height: 105px;
	}

	.lists_data_service_default .m_items .col-md-6:last-child{
		border-left: 0px;
		border-top: 1px solid #919092;
	}

	.outers_list_data_networks .items{
		margin-bottom: 2.2em;
	}
	.insides_toppage_blocks.back_contact{
		background-position: bottom right;
	}

}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
		
}

@media (min-width: 768px){

}

@media (max-width: 768px){
	
	.outers-block-top-wrapfcs .insides p{
		font-size: 16px;
	}
	.outers-block-top-wrapfcs .insides .height-50{
		height: 0;
	}
	.blocks_bottom_scrolldown_hm{
		display: none;
	}
	.outers-block-top-wrapfcs .insides{
		padding-top: 30px;
	}

}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	
	.slider-container.preserve-3d{
		display: none;
	}
	.headers-responss{
		display: block;
	}

	header.homep.head,
	header.head{
		position: relative;
	}
	.outers-back-header{
		height: auto;
	}
	
	footer [class*="col-md"]{
		/*text-align: center;*/
		margin: 15px auto;
	}

	.navbar-default{
		background-color: transparent;
		border-color: transparent;
		margin-bottom: 0;
	}
	.outers-back-header .container{
		padding-left: 0; padding-right: 0;
	}

	.posfull-abs{
		position: relative;
		width: auto;
	}
	.outers-block-top-wrapfcs{
		position: relative;
		bottom: inherit;
		left: inherit; 
		height: auto;
	}
	.outers-block-top-wrapfcs .insides{
		padding-top: 22px;
		padding-bottom: 1.2em;
	}
	.outers-block-top-wrapfcs .insides p{
		font-size: 15px;
	}

	section#section3_home.default_sc .insides .tops span,
	section#abouts.default_sc .insides_home_about .tops span{
		padding: 0px; font-size: 25px;
	}
	section#abouts.default_sc .insides_home_about .height-50{
		height: 35px;
	}
	section#abouts.default_sc .insides_home_about p{
		font-size: 15px;
	}
	section#managements_home.default_sc .insides_home_t2 span{
		font-size: 26px;
	}
	section#managements_home.default_sc .insides_home_t2 p{
		font-size: 23px;
	}
	.lists_icon_bannerHome .items .height-30{
		height: 20px;
	}
	footer.foot .lefts_footer .menu_footer ul li,
	footer.foot .lefts_footer .menu_footer ul li a{
		display: block;
		text-align: center;
	}
	footer.foot .lefts_footer .menu_footer ul li{
		padding: 0px;
		padding-bottom: 5px;
	}
	footer.foot .height-40{
		height: 10px;
	}

	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	    background-color: rgba(221, 221, 221, 0.05);
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	    background-color: #ddd;
	}
	header.head .navbar-default button {
	    display: inline-block;
	}
	.navbar-default .navbar-toggle {
	    background-color: transparent;
	    border: 0px;
	    margin-top: 25px;
	}
	.navbar-default .navbar-toggle .icon-bar {
	    background-color: #000;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	    background-color: transparent;
	}

	.content-text h3{
		font-size: 25px;
	}
	.insides_toppage_blocks{
		min-height: 450px;
	}
	a.btns_purpledefaults2{
		width: auto;
		display: block;
		height: auto;
		letter-spacing: 0px;
		padding-top: 8px;
		padding-left: 20px;
		padding-right: 20px;
		white-space: inherit;
	}
	.blocks_sub_title_network span.s_title{
		font-size: 16px;
	}
	.insides_toppage_blocks.back_contact{
		background-position: bottom right;
	}

	.box-form.tl-contact-form form .fleft,
	.box-form.tl-contact-form form .fright{
		float: none;
	}
	.box-form.tl-contact-form form button.btns-submit-bt{
		float: left;
	}
	footer.foot .t_phone_footer a{
		font-size: 13px;
	}

}

/* Landscape phone to portrait tablet */
@media (max-width: 600px) {
}

/* Landscape phones and down */
@media (max-width: 480px) {
}

@media (max-width: 360px) {
}

@media (max-width: 358px) {
}