/*----------------------- IMPORT FONT ------------------------------*/
@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,700);
/*font-family: 'Roboto', sans-serif;*/
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
/*-- font-family: 'Roboto Condensed', sans-serif; --*/
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700|Play:400,700);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700);
// font-family: 'Playfair Display', serif;
// font-family: 'Play', sans-serif;
// font-family: 'Droid Sans', sans-serif;
@Play: 'Play', sans-serif;
@Playfair: 'Playfair Display', serif;
@DroidSans: 'Droid Sans', sans-serif;

/*---------------------------- GENERAL -------------------------*/
img{
	border: none;
}
img{
	border: none;
	user-drag: none; 
	-moz-user-select: none;
	-webkit-user-drag: none;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
html,
body{
	height: 100%;
	width: 100%;
}
.h100per{
	height: 100%;
}
#pushstat{ display: none; }
body{
	background: transparent;
	margin: 0;
	padding: 0;
	
	font-family: 'Droid Sans', 'Roboto Condensed', sans-serif;
	font-weight: 400;
	font-size: 17px;
	
	color: #fff;
	background: #22152d;
}

a:focus{
	outline: none;
}
html, body, p, span, div, h1, h2, h3 ,h4 ,h5 ,h6, ul, li, ol, a, table, tr, td, th{
	font-family: 'Droid Sans', 'Roboto Condensed', sans-serif;
	font-weight: 400;
}
.prelatif{
	position: relative;
}
.prelatife{
	position: relative;
}
body{
	/*test for not responsive*/
	/*min-width: 1280px;*/
	width: 100%;
	height: 100%;
}

.container {
	max-width: 1280px;
	/*test for not responsive*/
	/*min-width: 1280px;*/

	width: 1280px;
	margin: 0 auto;
	padding: 0px;
	/*height: 100%;*/
}

.center{
	text-align: center;
}
.tengah{
	margin: 0 auto;
	padding: 0px;
}
.row{
	margin: 0px;
}
[class*="span"] {
	margin: 0;
}
[class*="col-xs"]{
	padding: 0;
}
[class*="col-md"] {
	padding: 0;
}
[class*="col-lg"] {
	padding: 0;
}
.row.default{
	margin: 0 -15px;
}
.row.default [class*="span"],
.row.default [class*="col-xs"],
.row.default [class*="col-md"],
.row.default [class*="col-sm"],
.row.default [class*="col-lg"]
{
	padding: 0 15px;
}

.row.default2{
	margin: 0 -5px;
}
.row.default2 [class*="span"],
.row.default2 [class*="col-xs"],
.row.default2 [class*="col-md"],
.row.default2 [class*="col-sm"],
.row.default2 [class*="col-lg"]
{
	padding: 0 2.5px;
}

#preloader {
	/*display: none;*/
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #dadbdb url(../images/bgloader.jpg) left top repeat-x;
	height: 100%;
	z-index: 1500;
}
#statusloader {
	text-align: center;
	margin: 0 auto;
	left: inherit;
	width: 100%;
	vertical-align: middle;

	height: 100px;
	position: absolute;
	top: 36%;
	background-image: url(../images/loading2.gif);
	background-repeat: no-repeat;
	background-position: center center;
}

.carousel-inner > .item.active.right,
.carousel-inner > .item.active.left {
	float: none !important;
}
.back-white{
  background-color: #fff;
}
.back-grey{
  background-color: #ccc;
}

/*--------------- Header Blocks ----------------*/
header.head{
	/*background: url(../images/back-transwhite-header.png) repeat-x;*/
	width: 100%;
	/*height: 143px;*/
	z-index: 150;
}
header.homep.head{
	position: absolute;
	top: 0px; left: 0px;
}
.outers-back-header{
	background-color: #fff;
	height: 117px;
	width: 100%;
}
.hds_tops_rightheader{
	span{
		font-family: 'Play', sans-serif;
		font-size: 15px; font-weight: 700; color: #fff;
	}
}
.v-top{
	vertical-align: top;
}
.d-inline{
	display: inline-block;
}

.top-menu{ margin-right: 0px; text-align: right; }
.top-menu ul{ margin: 0; padding: 0px; }
.top-menu ul li{ margin: 0px; padding: 0px; /*padding: 0 9px;*/ padding: 0px 17px; }
.top-menu ul li:last-child{ padding-right: 0px; }
.top-menu ul li a{ font-family: 'Play', sans-serif; font-size: 16px; font-weight: 700; color: #43215d; }
.top-menu ul li.active a,
.top-menu ul li a:hover,
.top-menu ul li a:focus{ color: #f99d27; text-decoration: none; }

.outers-block-top-wrapfcs{
	position: absolute;
	left: 0px;
	bottom: 0px;

	background-color: rgba(0,0,0,.4);
	width: 100%;
	// height: 206px;
	height: 97px;
	z-index: 185;
}
.posfull-abs{
	position: absolute;
	width: 100%;
}
.outers-block-top-wrapfcs .insides{ 
	max-width: 850px; margin:0 auto; text-align: center;
	padding-top: 22px;
}
.outers-block-top-wrapfcs .insides p{ 
	margin: 0px; 
	font-size: 15px; font-weight: 400; color: #fff; line-height: 1.8;
}
.blocks_bottom_scrolldown_hm{
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	z-index: 100;
	.dblock{
		a{
			display: block; text-align: center;
		}
	}
}

.dblock{
	display: block;
}

section.default_sc{
	min-height: 400px; height: auto;
	position: relative;
	width: 100%;
	background-color: #fff;
	.container.prelatife{
		padding-top: 10%;
		padding-bottom: 10%;
	}
}
section.default_sc#abouts{
	background: url(../images/back_home_section1.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	.insides_home_about{
		font-family: 'Droid Sans', sans-serif;
		.tops{
			text-align: center;
			h2.sub_title{
				font-family: 'Droid Sans', sans-serif;
				margin: 0; margin-bottom: 20px;
				font-size: 18px; font-weight: 700; color: #ba6fff;
				line-height: 1;
				letter-spacing: 1px;
			}
			span{
				font-family: 'Droid Sans', sans-serif;
				display: block; margin: 0;
				font-size: 32px; font-weight: 700; color: #fff;
				line-height: 1.3;
				padding: 0 90px;
			}
		}
		p{
			font-family: 'Droid Sans', sans-serif;
			text-align: left;
			margin: 0; margin-bottom: 30px;
			font-size: 18px; font-weight: 400; color: #fff;
			line-height: 1.5;
		}
		.lefts_desc{
			padding-right: 55px;
		}
	}
	// end inside home about
}

section.default_sc#managements_home{
	background: url(../images/back_home_section2.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	min-height: 650px;
	.insides_home_t2{
		text-align: center;
		clear: both;
		font-family: 'Droid Sans', sans-serif;
		span{
			margin: 0;
			padding: 0;
			font-family: 'Playfair Display', serif;
			font-weight: 400;
			font-style: italic;
			font-size: 41px; 
			color: #fff; line-height: 1.3;
		}
		p{
			margin: 0;
			padding: 0;
			font-weight: 700;
			font-size: 29px; 
			color: #fff; 
			line-height: 1;
		}
	}
}
section.default_sc#section3_home{
	background-color: #0f0d18;
	.container.prelatife{
		padding-top: 7%;
		padding-bottom: 7%;
	}
   .insides{
		font-family: 'Droid Sans', sans-serif;
		.tops{
			text-align: center;
			h2.sub_title{
				font-family: 'Droid Sans', sans-serif;
				margin: 0; margin-bottom: 20px;
				font-size: 18px; font-weight: 700; color: #ba6fff;
				line-height: 1;
				letter-spacing: 1px;
			}
			span{
				font-family: 'Droid Sans', sans-serif;
				display: block; margin: 0;
				font-size: 32px; font-weight: 700; color: #fff;
				line-height: 1.3;
				padding: 0 90px;
				margin-bottom: 15px;
			}
			p{
				margin: 0;
				text-align: center;
			}
		}
		p{
			font-family: 'Droid Sans', sans-serif;
			text-align: left;
			margin: 0; margin-bottom: 30px;
			font-size: 18px; font-weight: 400; color: #fff;
			line-height: 1.5;
		}
		.lefts_desc{
			padding-right: 55px;
		}
	}
	// end inside home about
}

.lists_icon_bannerHome{
	.items{
		max-width: 235px;
		margin: 0 auto;
		span.titles{
			display: block; text-align: center;
			margin: 0; line-height: 1.4;
			font-size: 17px; font-weight: 700; color: #fff;
		}
	}
}
// end list icon Banner Home

.back_lines_whitemiddle_tengah{
	background: url(../images/lines-white_home1t.jpg) no-repeat;
	width: 86px; height: 1px;
	margin: 0 auto; text-align: center;
}

a.btns_purpledefaults{
	box-shadow: none;
	border-radius: 0px;
	background: none; background-color: transparent;
	border: 0px;

	display: block;
	width: 274px; height: 41px;
	background-color: #632c95;

	font-family: 'Droid Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #fff;
	text-align: center;
	letter-spacing: 1px; text-transform: uppercase;
	text-decoration: none;
	padding-top: 10px;
}

a.btns_purpledefaults2{
	width: auto;
	height: 41px;
	padding-left: 40px;
	padding-right: 40px;
	display: inline-block;
}

a.btns_purpledefaults:hover,
a.btns_purpledefaults:focus{
	text-decoration: none;
	background-color: #551B8A;
	color: #f5f5f5;
}

footer.foot{
	position: relative;
	background-color: #22152d;
	min-height: 230px;
	height: auto;
	z-index: 1;
	.container{
		padding-top: 3.2%;
		padding-bottom: 1%;
	}
	
	.t-copyrights{
		font-size: 11px; font-weight: 700; color: #99929e;
		letter-spacing: 1px;
		a{
			font-size: 11px; font-weight: 700; color: #99929e;  
		}
		a:hover,
		a:focus{
			text-decoration: none;
			 color: #fff;
		}
	}
	.lefts_footer{
		.menu_footer{
			ul{
				margin: 0; padding: 0; list-style: none;
				li{
					padding: 0 11px;
					a{
						text-align: left;
						margin: 0; padding: 0; display: inline-block;
						text-transform: uppercase;
						font-size: 14px; font-weight: 700; color: #fff;
					}
					a:hover{
						text-decoration: none;
						color: orange;
					}
				}
				li:first-child{
					padding-left: 0;
				}
				li:last-child{
					padding-right: 0;
				}
			}
		}
	}
	// end left footer
	.t_footers{
		font-size: 14px; font-weight: 400; color: #99929e; line-height: 1.6;
	}
	.t_phone_footer{
		font-size: 15px; font-weight: 700; color: #fff; line-height: 1.5;
		a{
			font-size: 15px; font-weight: 700; color: #fff; text-decoration: none;
		}
		a:hover{
			text-decoration: none; color: orange;
		}
		span{
			font-size: 11px; font-weight: 700; color: #fff; letter-spacing: 1px; display: block;
		}   
	}
	.padding_lefts_105{
		padding-left: 102px;
	}
}

.insides_toppage_blocks{
	background: url(../images/ill-abouts_us.jpg) no-repeat;
	width: 100%;
	min-height: 650px;
	height: auto;

	background-size: cover;
	// padding-bottom: 300px;
	// background-position: 50% 0;
	background-position: bottom center;
	.blocks_bottom_intop_page{
		position: absolute;
		bottom: 0px;
		left: 0px;

		background-color: rgba(99, 44, 149, 0.5);
		width: 100%; height: 77px;
		padding-top: 20px;
		z-index: 50;
		h1.title_page{
			margin: 0; padding: 0;
			font-family: @Play;
			font-size: 39px; font-weight: 700; color: #fff; line-height: 1;
		}
	}
}
.insides_toppage_blocks.back_about{

}
.insides_toppage_blocks.back_service{
	background-image: url(../images/ill-services.jpg);
}
.insides_toppage_blocks.back_network{
	background-image: url(../images/ill-networks.jpg);
}
.insides_toppage_blocks.back_contact{
	background-image: url(../images/ill-contact_us2.jpg);
}
.insides_toppage_blocks.back_estimates{
	background: none;
	background-color: #43215d;
	min-height: 160px;
}
.mw1005{
	max-width: 1005px;
}

.back_insides_pagetop_1{
	 background:#f4f4f4 url(../images/back_tops_inside_about_1.jpg) no-repeat;
	width: 100%;
	min-height: 450px;
	height: auto;

	// background-size: ;
	background-position: top center;
	.container{
		padding-top: 7%;
		padding-bottom: 6%;
	}
}
.back_insides_pagetop_1.back_white{
	background: none;
	background-color: #f4f4f4;
}

.mw1045{
	max-width: 1045px;
}
.mw1115{
	max-width: 1115px;
}
.illustra_about{
	.row{
		margin: 0 -3px;
		.col-md-4{
			padding: 0 3px;
		}
	}
}
.mw780{
	max-width: 780px;
}
.mw745{
	max-width: 745px;
}
.mw960{
	max-width: 960px;
}

.back_inside_about_bottom2{
	background:#43215d url(../images/back_about_bottoms_section.jpg) no-repeat;
	width: 100%;
	min-height: 740px;
	background-size: auto 100%;
	height: auto;

	// background-size: ;
	background-position: top left;
	.container{
		padding-top: 5%;
		padding-bottom: 6%;
	}

	.insides{
		.margin-bottom-45{
			h2{
				margin: 0; padding: 0;
				letter-spacing: 1px;
				font-size: 18px; font-weight: 700; color: #ae78f5; line-height: 1;
				margin-bottom: 15px;
			}
			p{
				margin: 0; padding: 0;
				font-size: 32px; font-weight: 400; color: #fff; line-height: 1.4;
			}
		}
	}
	// end inside bottom2 about
}
.mb-0{
	margin-bottom: 0 !important;
}

.lists_data_service_default{
	.m_items{
		clear: both;
		margin-bottom: 10px;
		.items{
			padding-top: 35px;
			padding-bottom: 33px;
			padding-left: 20px;
			padding-right: 20px;
			h5.s_title{
				margin: 0; padding: 0;
				font-size: 22px; font-weight: 700; color: #22152d;
				line-height: 1.1;
			}
			p{
				margin: 0; padding: 0;
				font-size: 16px; font-weight: 400; color: #525252;
				line-height: 1.5;
			}
		}
		.col-md-6:last-child{
			border-left: 1px solid #919092;
		}
	}
	.m_items.lasted{
		.lines-grey{
			display: none;
		}        
	}
	clear: both;
}

.lines-grey{
	height: 1px;
	background-color: #919092;
	width: 100%;
}

.blocks_sub_title_network{
	span.s_title{
		display: inline-block;
		text-transform: uppercase;
		font-weight: 400;
		font-size: 18px;
		color: #525252;
		background-color: #f4f4f4;
		padding: 10px 12px;
		position: relative;
		z-index: 15;
		top: -23px;
	}
}

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}
.col-xs-15 {
	width: 20%;
	float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}
}
@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}


/*----------------------- Midle Text Content -----------------*/
.content-text{
	font-family: 'Droid Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #525252;
}
.content-text h1,
.content-text h2,
.content-text h3,
.content-text h4,
.content-text h5{ font-family: 'Droid Sans', sans-serif; margin: 0; padding: 0; margin-bottom: 20px; }

.content-text h1{ font-size: 68px; font-weight: 400; color: #ff1013; }
.content-text h2{  }
.content-text h3{ margin: 0px; font-size: 32px; font-weight: 700; color: #43215d; line-height: normal; }
.content-text h4{}
.content-text h5{}
.content-text h1.title-pages{
	font-size: 40px;
	font-weight: 300;
	color: #00377c;
	margin: 0;
}

.content-text p{
	margin: 0px;
	margin-bottom: 20px;
	line-height: 1.4;
	font-weight: 400;
	font-size: 18px;
	color: #525252;
}
.content-text p a{
	text-decoration: none;
	font-weight: 400;
	color: #525252;
	text-decoration: underline;
}
.content-text span{
	
}
.content-text.content_contact{
	p{
		font-size: 17px;
	}
}

.box-form.tl-contact-form{
	form{
		max-width: 1055px; 
		margin: 0 auto; text-align: center;
	  .form-group{ 
		margin-bottom: 20px;
		label{
			display: block;
		  font-size: 16px;
		  font-weight: 400; color: #565656;
		  margin-bottom: 3px; text-align: center;
		}
		input{
		  border:0px;
		  background: none; background-color: #ededed;
		  border-radius: 0px;
		  text-shadow:none; box-shadow: none;
		  font-size: 13px;  text-align: center;
		  font-weight: 400; color: #000;
		}
		textarea{
		  margin: 0;
			background: none;
			background-color: #ededed;
			border: 0px;
			box-shadow: none;
			border-radius: 0px;
			// border-bottom: 1px solid #9c9998;
			text-align: center;
			font-size: 13px; 
			font-weight: 400; color: #000;
		}
	  }
	  button.btns-submit-bt{
		background: none; border:0px; border-radius: 0px; box-shadow: none; padding:0;

		background: url(../images/back_btns_submit_enquiry.jpg) no-repeat;
		width: 279px; height: 37px;
		min-width: inherit; letter-spacing: 0px;
	  }

	  button.btns-submit-bt:hover{
		opacity: 0.9;
	  }
	}
	.mb15{
		margin-bottom: 15px !important;
	}
	::-webkit-input-placeholder {
	   color: #636368;
	}

	:-moz-placeholder { /* Firefox 18- */
	   color: #636368;  
	}

	::-moz-placeholder {  /* Firefox 19+ */
	   color: #636368;  
	}

	:-ms-input-placeholder {  
	   color: #636368;  
	}
  }


img.pc-center{
	margin: 0 auto;
	display: block;
	text-align: center;
}

.bt-viewon-top{
	position: absolute;
	bottom: -35px; right: 0px;
	z-index: 100;

	position: fixed;
	bottom: 150px;
	right: 15px;
	background-color: rgba(255,255,255,0.9);
}
.bt-viewon-top a{
	width: auto;
	height: auto;
	background-color: transparent;
	border: 2px solid #ddd;
	display: block;
	padding: 0.7em;
}
.bt-viewon-top a i.fa{
	color: rgba(87, 87, 87, 0.7);
	font-size: 20px;
}
.bt-viewon-top a:hover i.fa{ color: rgba(87, 87, 87, 0.99); }

.header-affixs.affix-top{ top: -1000px; position: fixed; }
.header-affixs.affix{ top: 0px; left: 0px; }
.header-affixs{
	background-color: rgba(255, 255, 255, 0.85);
	width: 100%;
	z-index: 1000;
	height: 100px;
	border-bottom: 3px solid #B1B1B1;
	z-index: 2000;
}
.menu-taffix{}
.menu-taffix ul{ margin: 0; padding: 0px; }
.menu-taffix ul li{ padding: 0px; padding: 0 10px; }
.menu-taffix ul li a{ font-family: 'Roboto Condensed', sans-serif; font-size: 15px; font-weight: 700; color: #606060; text-decoration: none; }
.menu-taffix ul li.active a,
.menu-taffix ul li a:visited,
.menu-taffix ul li a:hover{ text-decoration: none; color: #000; }

.outers_list_data_networks{
	.items{
		max-height: 350px; overflow: hidden;
		p{
			font-size: 16px; line-height: 1.5;
			b,strong{
				font-size: 18px;
			}
		}
	}
}


/*---------------  custom flexslider ---------------*/
.flexslider {
	  margin-bottom: 10px;
	}

	.flex-control-nav {
	  position: relative;
	  bottom: auto;
	}

	.custom-navigation {
	  display: table;
	  width: 100%;
	  table-layout: fixed;
	}

	.custom-navigation > * {
	  display: table-cell;
	}

	.custom-navigation > a {
	  width: 50px;
	}

	.custom-navigation .flex-next {
	  text-align: right;
	}
	.slider{
	  margin: 0px !important;
	}
	div.main-slide {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: auto;
	}

	.slider,
	.flexslider,
	ul.slides,
	ul.slides li,
	.full-widths{ height: 100%; }
	.flexslider{ margin: 0px; }
	.flex-direction-nav .flex-next{
		right: 0px;
		opacity: 0;
	}
	.flex-direction-nav .flex-prev{
		left: 0px;
		opacity: 0;
	}
	.flexslider{
	  border: 0px;
	}
	.flex-direction-nav a{ display: none !important; }

.carousel.fade {
	opacity: 1;
}
.carousel.fade .item {
	-moz-transition: opacity ease-in-out .7s;
	-o-transition: opacity ease-in-out .7s;
	-webkit-transition: opacity ease-in-out .7s;
	transition: opacity ease-in-out .7s;
	left: 0 !important;
	opacity: 0;
	top:0;
	position:absolute;
	width: 100%;
	display:block !important;
	z-index:1;
}
.carousel.fade .item:first-child {
	top:auto;
	position:relative;
}
.carousel.fade .item.active {
	opacity: 1;
	-moz-transition: opacity ease-in-out .7s;
	-o-transition: opacity ease-in-out .7s;
	-webkit-transition: opacity ease-in-out .7s;
	transition: opacity ease-in-out .7s;
	z-index:2;
}

#back-top {
	color: #FFF;
	background: none repeat scroll 0% 0% #FFF;
	font-size: 20px;
	line-height: 100%;
	display: inline-block;
	position: fixed;
	z-index: 500;
	right: 0px;
	bottom: 0px;
	width: 35px;
	height: 35px;
	text-align: center;
	top: inherit !important;
	border: 1px solid #c5c5c5;
	border-right: 0; border-bottom: 0;

	display: none;
}
#back-top i.fa {
	color: #565656;
}



.outers-block_search_estimates{
	.insiden{
		.picturen{
			display: block;
			text-align: center;
			padding: 2.55rem 0;
			img{
				text-align: center;
				margin: 0 auto;
			}
			border-top-left-radius: 12px;
			border-bottom-left-radius: 12px;
		}

		form{
			.form-group{
				.input-group{
					.input-group-addon{
						font-size: 14px; font-weight: 400; color: #43215d;
						background-color: #fff;
						border: 1px solid #a5a5a5;
						border-right: 1px solid transparent;
					}
					.input-group-addon.add2{

					}
				}
				input.form-control{
					background-color: #fff;
					box-shadow: none; border: 0;
					font-size: 15px; font-weight: 700; color: #43215d;
					border: 1px solid #a5a5a5;
					border-left: 1px solid transparent;
				}
				select.form-control{
					background-color: #fff;
					border: 1px solid #a5a5a5;
					font-size: 15px; font-weight: 700; color: #43215d;
				}
				input, select{
					border-radius: 0;
				}

				label.radio-inline{
					font-size: 14px; font-weight: 400; color: #43215d;
					padding-top: 0.3rem;
					input{}
				}

				margin-bottom: 10px;
			}

			.mgn_btm_0 .form-group{
				margin-bottom: 0;
			}

			button.btn{
				font-size: 14px; font-weight: 700; color: #fff;
				letter-spacing: 1px;
				background-color: #43215d;
				border: 1px solid #a5a5a5;
				border-radius: 0; 
				width: 100%;
			}
			button.btn:hover,
			button.btn:focus{
				background-color: #351151;
				border: 1px solid #a5a5a5;	
			}
		}
		// End form inline
		border-radius: 12px;
		background-color: rgba(255,255,255, 0.85);
		clear: both;
	}

	position: absolute; bottom: 12%; z-index: 320;
	left: 0; width: 100%; min-height: 150px; height: auto;
	clear: both;
}
.bg-white{
	background-color: #fff;
}
.p-4{
	padding: 3.2rem 2.75rem;
}


.blocks_ntop_whites1{
	position: relative; z-index: 7;
	background-color: #fff;
	border-radius: 15px;
	min-height: 160px; height: auto;

	.pictures{
		background-color: #43215d;
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		padding: 2rem 0;
	}
	.info_rights{
		h3, h4, h5, p{
			display: block;
			margin: 0; padding: 0;
		}
		h5{
			font-size: 22px; font-weight: 700; color: #43215d;
			margin-bottom: 0.5rem;
		}
		p{
			font-size: 14px; font-weight: 400; color: #686868;
		}

		ol,
		ul{
			li{
				font-size: 14px;
				font-weight: 400;
				color: #686868;
				b,strong{
					font-size: 15px;
					font-weight: 700;
					color: #43215d;
					padding-left: 1rem;
				}
				span{
					font-size: 14px;
					font-weight: 400;
					color: #686868;
				}
				span.ncn_qty,
				span.container_type{
					font-size: 15px;
					font-weight: 700;
					color: #43215d;
				}
				b.pl-0{
					padding-left: 0 !important;
				}
				padding: 0;
				margin: 0;
				padding-right: 2rem;
			}
			margin: 0;
		}
		padding: 4.5rem 3rem;
		clear: both;
	}

	-webkit-box-shadow: 4px 4px 7px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    4px 4px 7px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         4px 4px 7px 0px rgba(50, 50, 50, 0.5);
}

.blocks_ntop_whites2{
	.paddings{
		padding: 5rem 4rem;
		form{
			margin: 0;
			.form-group{
				margin-bottom: 15px;
				label{
					font-size: 14px; font-weight: 400; color: #686868;
					b, strong{
						font-size: 16px; font-weight: 700; color: #686868;
					}
					margin-bottom: 1rem;
					display: block;
				}
				input{
					border-radius: 0px;
					border: 1px solid #a5a5a5;
				}
			}
			.form-group.nft_top{
				label{
					font-size: 14px; font-weight: 400; color: #686868;
					display: inline-block;
					vertical-align: middle;
					margin-right: 1rem;
				}
				.prelatife{
					display: inline-block;
					vertical-align: middle;
				}
				input{
					display: inline-block;
					vertical-align: middle;
					max-width: 165px;
					position: relative;
				}
				img.calendar{
					position: absolute; 
					top: 7px; 
					right: 7px;
					z-index: 3;
				}
			}

			h6{
				font-size: 16px; font-weight: 700; color: #686868;
			}		
			button.btn.btns_f_defa{
				font-size: 14px; font-weight: 700; color: #fff;
				letter-spacing: 1px;
				background-color: #43215d;
				border: 1px solid #a5a5a5;
				border-radius: 0; 
				width: 100%;
				max-width: 175px;
				float: right;
			}
			button.btn.btns_f_defa:hover,
			button.btn.btns_f_defa:focus{
				background-color: #351151;
				border: 1px solid #a5a5a5;	
			}
		}
	}
	background-color: #fff;
	border-radius: 15px;
	width: 100%; 
	min-height: 200px; height: auto;
	-webkit-box-shadow: 4px 4px 7px 0px rgba(50, 50, 50, 0.5);
	-moz-box-shadow:    4px 4px 7px 0px rgba(50, 50, 50, 0.5);
	box-shadow:         4px 4px 7px 0px rgba(50, 50, 50, 0.5);	
}

a.btn.btns_f_defa{
	font-size: 14px; font-weight: 700; color: #fff;
	letter-spacing: 1px;
	background-color: #43215d;
	border: 1px solid #a5a5a5;
	border-radius: 0; 
	width: 100%;
	max-width: 175px;
	float: right;
}
a.btn.btns_f_defa:hover,
a.btn.btns_f_defa:focus{
	background-color: #351151;
	border: 1px solid #a5a5a5;	
}

.outers_bloc_bottom{
	h6{
		font-size: 22px; font-weight: 700; color: #6d6e71;
	}
}

.lines-greys{
	height: 1px; 
	width: 100%;
	background-color: rgba(109, 110, 113, 0.2);
}

@media screen and (max-width: 767px) {

	.outers-block_search_estimates{
		position: relative;
		bottom: inherit;
		left: inherit;
		.insiden {
			.picturen{
				border-radius: 12px;
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
			}
			.p-4{
				padding: 2.5rem;
			}
			.col-md-6{
				.row.default2{
					margin: .5rem -2.5px 0;
				}
			}

			form button.btn{
				margin-top: 1rem;
			}
		}
		margin-top: 3rem;
	}

}