{% extends 'layouts/main.twig' %}
{% block maincontent %}
<body data-spy="scroll" id="page-top">
		<div class="wrapper prelatif">
			<div class="block-wrap-fcss-top-conhome prelatife">
				{% include "/layouts/header.twig" with { 'menu': block('menu') } %}

					<div id="gallery-1" class="slider-container preserve-3d">
						<div class="flexslider preserve-3d">
							<ul class="slides">
								<li><div class="main-slide" style="background-image: url({{ app.request.baseurl }}/asset/images/fcs-1.jpg);"></div>
								</li>
								<li><div class="main-slide" style="background-image: url({{ app.request.baseurl }}/asset/images/fcs-2.jpg);"></div>
								</li>
								<li><div class="main-slide" style="background-image: url({{ app.request.baseurl }}/asset/images/fcs-3.jpg);"></div>
								</li>
								<li><div class="main-slide" style="background-image: url({{ app.request.baseurl }}/asset/images/fcs-4.jpg);"></div>
								</li>
							</ul>
						</div>
					</div>
				
				<div class="headers-responss">
					<div id="carousel-example-fcs" class="carousel fade" data-ride="carousel">
					  <div class="carousel-inner" role="listbox">
					    <div class="item active">
					      <img src="{{ app.request.baseurl }}/asset/images/fcs-1-responsive.jpg">
					    </div>
					    <div class="item">
					      <img src="{{ app.request.baseurl }}/asset/images/fcs-2-responsive.jpg">
					    </div>
					    <div class="item">
					      <img src="{{ app.request.baseurl }}/asset/images/fcs-3-responsive.jpg">
					    </div>
					    <div class="item">
					      <img src="{{ app.request.baseurl }}/asset/images/fcs-4-responsive.jpg">
					    </div>

					  </div>

					</div>
					<div class="clear"></div>
				</div>

				<div class="outers-block_search_estimates">
					<div class="prelatife container">
						<div class="insiden">

							<div class="row">
								<div class="col-md-2">
									<div class="picturen bg-white"><img src="{{ app.request.baseurl }}/asset/images/lgons_estimates.png" alt="" class="img-responsive"></div>
								</div>
								<div class="col-md-10">
									<div class="p-4">
										<form method="post" action="{{ path('estimates') }}">
										  <div class="row default2">
										  	<div class="col-md-6">
											  <div class="form-group">
											    <div class="input-group">
											      <div class="input-group-addon">From</div>
											      <input type="text" class="form-control" name="Estimate[from]" value="" required="required">
											    </div>
											  </div>
										  	</div>
										  	<div class="col-md-6">
											  <div class="form-group">
											    <div class="input-group">
											      <div class="input-group-addon">To</div>
											      <input type="text" class="form-control" name="Estimate[to]" value="" required="required">
											    </div>
											  </div>
										  	</div>
										  </div>
										  {# .tn_1 #}
										  <div class="row default2">
										  	<div class="col-md-6">
											  <div class="form-group">
											  	<label class="radio-inline">
												  <input type="radio" name="Estimate[type_ship]" id="inlineRadio1" value="Door to Door" required="required"> Door to Door
												</label>
												<label class="radio-inline">
												  <input type="radio" name="Estimate[type_ship]" id="inlineRadio2" value="Door to Port" required="required"> Door to Port
												</label>
												<label class="radio-inline">
												  <input type="radio" name="Estimate[type_ship]" id="inlineRadio3" value="Port to Port" required="required"> Port to Port
												</label>
											    {# end radio list #}
											  </div>
										  	</div>
										  	<div class="col-md-6">
											  <div class="form-group">
											    <div class="input-group">
											      <div class="input-group-addon">Type of Container</div>
											      <select name="Estimate[type_load]" class="form-control" required="required">
											      		<option value="">Choose</option>
											      	{% for keys,item in data_estimate.loads %}
											      		<option value="{{ item }}">{{ item }}</option>
											      	{% endfor %}
											      </select>
											    </div>
											  </div>
										  	</div>
										  </div>
										  {# .tn_2 #}

										  <div class="row default2 mgn_btm_0">
										  	<div class="col-md-6">
										  		<div class="form-group">
												    <div class="input-group">
												      <div class="input-group-addon">Type of Goods</div>
												      <select name="Estimate[goods]" class="form-control" required="required">
												      		<option value="">Choose</option>
												      	{% for keys,item in data_estimate.goods %}
												      		<option value="{{ item }}">{{ item }}</option>
												      	{% endfor %}
												      </select>
												    </div>
												 </div>
										  	</div>
										  	<div class="col-md-6">
										  		<div class="row default2">
										  			<div class="col-md-6">
										  				<div class="row default2">
										  					<div class="col-md-5 col-xs-5">
										  						<div class="form-group">
																    <div class="input-group">
																      <div class="input-group-addon">Qty</div>
																      <select name="Estimate[qty]" class="form-control" required="required">
																      	{% for keys,item in data_estimate.qty_fcl %}
																      		<option value="{{ item }}">{{ item }}</option>
																      	{% endfor %}
																      </select>
																    </div>
																 </div>
										  					</div>
										  					<div class="col-md-7 col-xs-7">
																<select name="Estimate[container_type]" class="form-control" required="required">
																	{% for keys,item in data_estimate.container %}
																	<option value="{{ item }}">{{ item }}</option>
																	{% endfor %}
																</select>
										  					</div>
										  				</div>
										  			</div>
										  			<div class="col-md-6">
										  				<input type="hidden" name="Estimate[from_home]" value="1">
										  				<button class="btn btn-info" type="submit">Estimate Now</button>
										  			</div>
										  		</div>
										  	</div>
										  </div>
										  {# .tn_3 #}
										</form>
									</div>
									<div class="clear"></div>
								</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>

				<div class="outers-block-top-wrapfcs">
					<div class="posfull-abs custom_js">
						<div class="prelatife container">
							<div class="insides">
								{# <p>Hersindo Logistic&rsquo;s company strength lies in its ability to ensure smooth handling, thanks to our highly trained staff with experience of more than 20 years and the use of the latest line technology, personalized high quality and reliable services.</p>
								<div class="clear height-15"></div>
								<div class="text-center tengah">
									<a href="{{ path('services') }}"><img src="{{ app.request.baseurl }}/asset/images/backs_purple_btn_vwService.png" alt=""></a>
								</div> 
								<div class="clear height-50"></div> #}
								<div class="clear height-50"></div>

								<div class="blocks_bottom_scrolldown_hm">
									<div class="tengah text-center dblock">
										<a class="jumper" href="#abouts"><img src="{{ app.request.baseurl }}/asset/images/block_btn_more_downs_flow.png" alt="" class="img-responsive center-block"></a>
									</div>
								</div>
								<div class="clear"></div>
							</div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="clear"></div>
				</div>

				<div class="clear"></div>
			</div>
				{% block content %}{% endblock %}
			{% include "/layouts/footer.twig" %}
		</div>

		
<script type="text/javascript">
	$("document").ready(function(){
		// var fulling_windows = $(window).width();
		// 	if ( fulling_windows > 1020 ){
		// 		var width_fes = $(window).width();
		// 		$(".posfull-abs.custom_js").css("width", width_fes+"px");
		// 	}

			
		// 	if ( fulling_windows > 1650 ){
		// 		$(".outers-block-top-wrapfcs").css("width", "35%");
		// 	}

		// $(window).load(function(){
		// 	var fulling_windows = $(window).width();
		// 	if ( fulling_windows > 1020 ){
		// 		var heightes = $(window).height();
		// 		var heightw_fcs = heightes - 139;
		// 		$(".outers-block-top-wrapfcs").css("height", heightw_fcs+"px");
		// 	};
		// 	if ( fulling_windows > 1650 ){
		// 		$(".outers-block-top-wrapfcs").css("width", "35%");
		// 	}
		// });

		// $(window).resize(function(){
		// 	var fulling_windows = $(window).width();
		// 	if ( fulling_windows < 1370 ){
		// 		$(".outers-block-top-wrapfcs").css("width", "519px");
		// 	}
		// });

	});
</script>
</body>
{% endblock %}