<!--/. Footer -->
<footer class="foot">
	<div class="prelatife container">
		<div class="row">
			<div class="col-md-7">
				<div class="lefts_footer">
					<div class="clear height-40"></div>
					<div class="menu_footer">
						<ul class="list-inline">
							<li><a href="{{ path('homepage') }}">Home</a></li>
							<li><a href="{{ path('about') }}">ABOUT US</a></li>
							<li><a href="{{ path('services') }}">OUR SERVICES</a></li>
							<li><a href="{{ path('network') }}">NETWORK</a></li>
							<li><a href="{{ path('contact') }}">CONTACT US</a></li>
						</ul>
					</div>
					<div class="clear height-20"></div><div class="height-4"></div>
					<div class="t_footers">
						Hersindo Logistic provide services such as Freight Forwarding (by ocean), Contract Logistics <br>
						(such as Warehousing), and Transportation (such as trucking).
					</div> 
					<div class="clear height-30"></div>
					<div class="t-copyrights">
						COPYRIGHT &copy; 2016 HERSINDO LOGISTIC. ALL RIGHTS RESERVED.
					</div>
					<div class="clear"></div>
				</div>
				<div class="celar"></div>
			</div>
			<div class="col-md-5">
				<div class="padding-left-30">
					<div class="logo_webfooter"><a href="#"><img src="{{ app.request.baseurl }}/asset/images/logo-hersindo-footer.png" alt="" class="img-responsive"></a></div>
					<div class="clear height-20"></div><div class="height-4"></div>
					<div class="padding_lefts_105">
						<div class="t_phone_footer">
							<span style="font-size: 13px;">PT. HERSINDO ANUGERAH MULTITRANS</span>
							<div class="clear height-10"></div>
							<span>CONTACT HOTLINE</span> <div class="clear"></div>
							+62 31 3287188 &nbsp;&nbsp;&nbsp; <a href="mailto:info@hersindo.com">INFO@HERSINDO.COM</a>
						</div>
						<div class="clear height-30"></div>
						<div class="t-copyrights">
							DESIGN BY <a href="http://www.markdesign.net/" target="_blank" title="Website Design Surabaya">MARK DESIGN.</a>
						</div>
					</div>

					<div class="clear"></div>
				</div>
			</div>
		</div>
		<div class="clear height-15"></div>
		<div class="clear"></div>
	</div>
</footer>