<!-- /. Header --> 
<header class="head homep">
	<div class="visible-lg visible-md visible-sm">
		<div class="clear height-10"></div><div class="height-2"></div>
		<div class="prelatife container">
				<div class="text-right hds_tops_rightheader">
					<span class="d-inline text-right">For information call  (+62) 31 3287188 or email us at info@hersindo.com</span>
				</div>
			
			<div class="clear"></div>
		</div>
		<div class="clear height-10"></div>
	</div>

	<div class="outers-back-header">
		<div class="prelatife container">
			<div class="clear height-15 hidden-xs"></div>
			<div class="height-3"></div>
			<div class="row hidden-xs">
				<div class="col-md-5 col-sm-4">
					<div class="lgo_web_hersindo_lg">
						<a href="{{ url('homepage') }}"><img src="{{ app.request.baseurl }}/asset/images/logo-web-header_hersindo.png" alt="" class="img-responsive"></a>
					</div>
				</div>
				<div class="col-md-7 col-sm-8">
					<div class="clear height-40"></div>
					<div class="height-5"></div><div class="height-3"></div>
					<div class="top-menu">
						<ul class="list-inline">
							<li class="{% if menu == 'homepage' %}active{% endif %}"><a href="{{ path('homepage') }}">HOME</a></li>
							<li class="{% if menu == 'about' %}active{% endif %}"><a href="{{ path('about') }}">ABOUT US</a></li>
							<li class="{% if menu == 'services' %}active{% endif %}"><a href="{{ path('services') }}">OUR SERVICES</a></li>
							<li class="{% if menu == 'network' %}active{% endif %}"><a href="{{ path('network') }}">NETWORK</a></li>
							<li class="{% if menu == 'contact' %}active{% endif %}"><a href="{{ path('contact') }}">CONTACT US</a></li>
						</ul>
					</div>
				</div>
			</div>
			

			<div class="visible-xs">
                <nav class="navbar navbar-default">
				  <div class="container-fluid">
				    <div class="navbar-header">
				      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				        <span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				      </button>
				      <a class="navbar-brand" href="{{ path('homepage') }}"><img src="{{ app.request.baseurl }}/asset/images/logo-hersindow_responsive.png" alt="logo hersindo logistic" class="img-responsive"></a>
				    </div>

				    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				      <ul class="nav navbar-nav">
				        <li class="{% if menu == 'homepage' %}active{% endif %}"><a href="{{ path('homepage') }}">HOME</a></li>
						<li class="{% if menu == 'about' %}active{% endif %}"><a href="{{ path('about') }}">ABOUT US</a></li>
						<li class="{% if menu == 'services' %}active{% endif %}"><a href="{{ path('services') }}">OUR SERVICES</a></li>
						<li class="{% if menu == 'network' %}active{% endif %}"><a href="{{ path('network') }}">NETWORK</a></li>
						<li class="{% if menu == 'contact' %}active{% endif %}"><a href="{{ path('contact') }}">CONTACT US</a></li>
				      </ul>
				    </div>
				  </div>
				</nav>
				<div class="clear"></div>
			</div>
			{# end visible xs phones #}

			<div class="clear"></div>
		</div>
	</div>
</header>

<script type="text/javascript">
		$(function(){
			// $('#myAffix').affix({
			//   offset: {
			//     top: 400
			//   }
			// })
		})
	</script>
	{# <section id="myAffix" class="header-affixs">
		<div class="clear height-25"></div>
		<div class="prelatife container">
			<div class="row">
				<div class="col-md-3 col-sm-3">
					<div class="clear height-5"></div>
					<div class="lgo-web-aofku">
						<a href="{{ path('homepage') }}">
							<img src="{{ app.request.baseurl }}/asset/images/logo-web-szelltech.png" alt="" style="max-width: 150px;">
						</a>
					</div>
				</div>
				<div class="col-md-9 col-sm-9">
					<div class="text-right"> <div class="clear height-20"></div>
						<div class="menu-taffix">
							<ul class="list-inline">
								<li><a class="jumper" href="#page-top">HOME</a></li>
								<li><a class="jumper" href="#abouts">ABOUT</a></li>
								<li><a class="jumper" href="#products">PRODUCTS</a></li>
								<li><a class="jumper" href="#benefits">BENEFITS</a></li>
								<li><a class="jumper" href="#contacts">CONTACT US</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
	</section> #}