{% extends 'layouts/main_inside.twig' %}
{% block maincontent %}
<body>
		<div class="wrapper prelatife h100per">
				{% block content %}{% endblock %}
			{% include "/layouts/footer.twig" %}
		</div>
</body>
{% endblock %}