<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %} Hersindo Logistic</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	 
    <link rel="stylesheet" type="text/css" href="{{ app.request.baseurl }}/asset/css/screen.css" />
    <link rel="stylesheet" type="text/css" href="{{ app.request.baseurl }}/asset/css/comon.css" />

    <link rel="Shortcut Icon" href="{{ app.request.baseurl }}/asset/images/favicon.png" />
	<link rel="icon" type="image/ico" href="{{ app.request.baseurl }}/asset/images/favicon.png" />
	<link rel="icon" type="image/x-icon" href="{{ app.request.baseurl }}/asset/images/favicon.png" />
	
	<!-- jQuery -->
	<script type="text/javascript" src="{{ app.request.baseurl }}/asset/js/jquery.min.js"></script>

	<link rel="stylesheet" href="{{ app.request.baseurl }}/asset/js/fancy/jquery.fancybox.css" type="text/css" media="screen" />
	<script type="text/javascript" src="{{ app.request.baseurl }}/asset/js/fancy/jquery.fancybox.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.fancy-img').fancybox({
					type		: 'image',
					fitToView	: false,
					autoSize	: false,
					closeClick	: false,
					openEffect	: 'none',
					closeEffect	: 'none',
				});
			$('.fancy').fancybox();
		});
	</script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

	<!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ app.request.baseurl }}/asset/bootstrap-3/css/bootstrap.min.css" />
	<script type="text/javascript" src="{{ app.request.baseurl }}/asset/bootstrap-3/js/bootstrap.js"></script>
	
	<link rel="stylesheet" type="text/css" href="{{ app.request.baseurl }}/asset/css/styles.css">
	<link rel="stylesheet" type="text/css" href="{{ app.request.baseurl }}/asset/css/animate.css">

	<link rel="stylesheet" type="text/css" href="{{ app.request.baseurl }}/asset/css/media.styles.css">

	<link href="{{ app.request.baseurl }}/asset/third/font-awesome/css/font-awesome.css" rel="stylesheet">
	
	<script type="text/javascript" src="{{ app.request.baseurl }}/asset/js/jquery.scrollTo-1.4.3.1-min.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
				//Image hover
				$(".serv_block").live('mouseover',function(){
						var info=$(this).find("img");
						info.stop().animate({opacity:0.5},100);
						$(".preloader").css({'background':'none'});
					}
				);
				$(".serv_block").live('mouseout',function(){
						var info=$(this).find("img");
						info.stop().animate({opacity:1},100);
						$(".preloader").css({'background':'none'});
					}
				);
								
			$(".toScroll").live('click', function(){
				var id = $(this).attr("data-id");
				//alert(id);
				$.scrollTo('#'+id , 1500);
			});
		});
	</script>
	
</head>
{% block maincontent %}
{% endblock %}

<script src="{{ app.request.baseurl }}/asset/js/wow.js"></script>
<script type="text/javascript">
 new WOW().init();
</script>

<div id="back-top" class="t-backtop">
<div class="clear height-5"></div>
    <a href="#top"><i class="fa fa-chevron-up"></i></a>
</div>
<script type="text/javascript">
$(function(){
    $('.t-backtop').click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 800);
        return false;
    });

    $(".jumper").on("click", function( e ) {
        e.preventDefault();

        $("body, html").animate({ 
            scrollTop: $( $(this).attr('href') ).offset().top 
        }, 900);
    });

    var $win = $(window);
         $win.scroll(function () {
             if ($win.scrollTop() == 0)
             $('.t-backtop').hide();
             else if ($win.height() + $win.scrollTop() != $(document).height() || $win.height() + $win.scrollTop() > 500) {
             $('.t-backtop').show();
             }
         });

});
</script>
</html>