.container.w904{
	max-width: 905px;
	padding: 0;
}

.btn-back{
	hr{
		margin-top: 0;
	}
	a{
		padding-bottom: 0.7rem;
	}
}

.h98{
	height: 98px;
	width: 100%;
	position: relative;
}
.prelatife{
	position: relative;
}

section.inside_cover_pg{
	.pictures{
		img{}
		position: relative;
		z-index: 10;
	}
	
	.blocks_outer_breadstop{
		.right_block{

			nav{
				ol{
					margin: 0;
					padding: 0;
					background-color: transparent;
					li{
						a{
							font-size: 12px;
							font-weight: 400;
							text-transform: uppercase;
							color: rgba(48,48, 48, 0.55);
						}
						font-size: 12px;
						font-weight: 400;
						text-transform: uppercase;
						color: rgba(48,48, 48, 0.55);
					}
				}
			}
			.sback a,
			.sback{
				font-size: 12px;
				font-weight: 400;
				text-transform: uppercase;
				color: rgba(48,48, 48, 0.55);
				text-decoration: none;
			}
		}
		clear: both;
		.blocks_title{
			.inner{
				h1{
					font-size: 35px;
					font-weight: 500;
					color: #fff;
					margin: 0;
					display: block;
				}
				padding: 2rem 2.5rem;
				text-align: center;
				position: relative;
				z-index: 50;
			}
			max-width: 415px;
			background-color: #0c1555;
			position: relative;
			z-index: 11;
			top: -50%;
		}
		.blocks_title::before{
	        display: inline-block;
	        content: "";
	        position: absolute;
	        z-index: 5;
	        top: 0px;
	        right: 100px;
	        width: 900px;
	        height: 100%;
	        background-color: #0c1555;
	      }
	}

	clear: both;
}


.content-texts{
	font-size: 15px;
	font-weight: 300;
	color: #303030;
	h1, h2, h3, h4, h5{
		display: block;
		margin: 0; padding: 0;
		line-height: 1;
		margin-bottom: 1.4rem;
	}
	h3{
		font-size: 34px;
		font-weight: 300;
		color: #022974;
	}
	h5{
		font-size: 18px;
		font-weight: 400;
		color: #303030;
		line-height: 1.4;
	}
	p{
		font-size: 15px !important;
		font-weight: 300;
		color: #303030;
		line-height: 1.4;
	}
}
.back-quality_outerbottom{
	background: url('../images/quality&process_02.jpg') no-repeat;
	background-size: cover;
	width: 100%;
}

.outers_list_news_data{
	.items{
		.pictures{

		}
		.contents{
			a{
				color: #4b4b4b;
				font-size: 17px;
				font-weight: 400;
				p{
				color: #4b4b4b;
				font-size: 17px;
				font-weight: 400;
					
				overflow: hidden;
				clear: left;
				text-align: center;
				text-overflow: ellipsis;
				white-space: nowrap;
				}
			}
			a.view_art{
				font-size: 13px;
				font-weight: 700;
				color: #022974;
				text-transform: uppercase;
			}
			max-width: 330px;
			display: block;
			margin: 0 auto;
		}
		margin-bottom: 2.7rem;
	}
	clear: both;
}

.titles_pg{
	h4{
		font-size: 35px;
		font-weight: 300;
		color: #022974;
	}
}

.blog-detail-cnt1{
	.tops_title{
		p{
			font-size: 19px;
			font-weight: 700; color: #022974;
		}
		h1{
			display: block;
			margin: 0 auto; padding: 0;

			font-size: 34px;
			font-weight: 300; color: #022974;
			max-width: 835px;
		}
	}
	clear: both;
}
a.btns_blue_host{
	padding: 8px 0;
    max-width: 285px;
    background-color: #0c1555;
    border-radius: 5px;
    display: block;
    text-decoration: none;
    color: #fff;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
}
.lines-grey{
	height: 1px;
	background-color: #d7d7d7;
}

.outers_list_product{
	.items_box{
		.info{
			text-align: center;
			h3{
				font-size: 20px;
				font-weight: 700; color: #022974; line-height: 1;
			}
			padding: 1rem 0 1rem;
		}
		padding-bottom: 1rem;
		clear: both;
	}
	padding-bottom: 4rem;
	clear: both;
}

.content-texts{
	h1, h2, h3, h4, h5, p, span{
		display: block;
		margin: 0; margin-bottom: 1rem;
		padding: 0;
	}

	p{
		font-size: 17px;
		font-weight: 300;
		color: #4b4b4b;
		line-height: 1.4;
	}
}



.lists_detail_products{
  .items{
      background-color: #e6e9ea;
      .descriptions{
          text-align: left;
          h4, span, p{
              display: block;
              margin: 0; padding: 0;
          }
          h4{
              font-size: 22px; font-weight: 700; color: #223b79; line-height: 1;
          }
          span{
              font-size: 15px; font-weight: 500; color: #223b79; line-height: 1; letter-spacing: 2px;
              display: block;
              margin-bottom: 0.5rem;
              text-transform: uppercase;
          }
          p{
              font-size: 17px;
              font-weight: 400; 
              color: #646363;
          }
          clear: both;
      }
      margin-bottom: 2rem;
  }
  .items:last-child{
      margin-bottom: 0;
  }
}

.tops_titledetail{
	h2{
		display: block;
		margin: 0;
		font-size: 20px;
		font-weight: 700;
		color: #022974;
		line-height: 1;
	}
}

.tops_filter{
  form{
      label{
          font-size: 19px;
          font-weight: 500;
          color: #5d5d5d;
          padding-right: 15px;
      }
      select{
          width: 215px;
          background-color: transparent;
          border-radius: 5px;
          border: 1px solid #c3c3c3;

          font-size: 19px;
          font-weight: 500;
          color: #223b79;
          padding: 0.2rem 0.4rem;
      }
      margin: 0;
  }
  p{
      font-size: 19px;
      font-weight: 700;
      color: #5d5d5d;

      display: inline-block;
      vertical-align: top;
  }
  p.titles_prd{
  	font-size: 33px !important;
  	font-weight: 300;
  	color: #022974;
  	display: block;
  	text-align: center;
  	line-height: 1;
  }
  a.backs_to{
      font-size: 19px;
      font-weight: 700;
      color: #223b79;
      text-decoration: underline;
  }
}




.outer-blok-black-menuresponss-hides{
//   display: none;

  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 7000;
  background: #0c1555;
  // background-size: cover;

  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  .prelatife.container{
      
  }
  .blocksn_logo-centers{
      img{
          position: relative;
          left: 20px;
      }
  }

  .blocks-info-menubtm{
      max-width: 600px;
      display: block;
      margin: 0 auto;
      padding-top: 1.2em;
      span{
          font-size: 14px;
          font-weight: 400;
          color: #fff;
          letter-spacing: 3px;
          text-transform: uppercase;
          display: block;
          text-align: center;
      }
      i.fa,
      i.far,
      i.fab{
          font-size: 25px;
          color: #fff;
          text-align: center;
          display: block;
      }
      p{
          padding-top: 0.5rem;
          font-size: 15px; font-weight: 400; color: #fff; text-align: center; line-height: 1.7;
          a{
              font-size: 15px; font-weight: 400; color: #fff; text-decoration: none;
          }
      }
  }
}
.menu-sheader-datals{ text-align: center; }
.menu-sheader-datals ul{ margin: 0px; padding: 0px; }
.menu-sheader-datals ul li{ padding: 0.15em 0px; position: relative; }
.menu-sheader-datals ul li a{ font-size: 16px; letter-spacing: 0px; text-transform: uppercase; font-weight: 500; color: #fff; }
.menu-sheader-datals ul li a:focus,
.menu-sheader-datals ul li a:hover{
  color: #f5f5f5; text-decoration: none;
}
.hidesmenu-frightd a img{
  opacity: 0.8;
}

.ft_top_right{
  p,
  span{
    display: inline-block;
    vertical-align: middle;
    margin: 0;
  }
  span{
    font-size: 17px;
    font-weight: 400;
    color: #fff;
    padding-right: 1rem;
  }
  p{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    a{
    text-decoration: none;
    color: #fff;
    }
  }

  clear: both;
}

.lists_data.qualitys .pictures {
    height: 140px;
    width: auto;
    // display: table;
}
.lists_data.qualitys .pictures img{
	display: block;
	margin: 0 auto;
	text-align: center;
}

section.home-sec-quality-2 .contents1{
	h4{
		margin-top: 35px;
		text-align: center;
		margin-bottom: 0;
	}
}
section.home-sec-quality-2{
	padding-bottom: 8rem;
}