{% extends layout %}
{% block title %}About Us - {% endblock %}
{% block menu %}about{% endblock %}
{% block content %}
<div class="insides_toppage_blocks prelatife back_about">
			{% include "/layouts/header.twig" with { 'menu': block('menu') } %}
			<div class="blocks_bottom_intop_page">
				<div class="text-center">
					<h1 class="title_page">ABOUT US</h1>
					<div class="clear"></div>
				</div>
			</div>
			<div class="clear"></div>
		</div>
		
<div class="back_insides_pagetop_1">
	<div class="prelatife container">
		<div class="content-text text-center">
			<div class="mw1045 tengah">
				<h3>Hersindo provides comprehensive logistic services for customers, serving with care and integrity.</h3>
			</div>
			<div class="clear height-50"></div><div class="height-10"></div>
			<div class="illustra_about">
				<div class="row">
					<div class="col-md-4">
						<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/about_1.jpg" alt="" class="img-responsive"></div>
					</div>
					<div class="col-md-4">
						<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/about_2.jpg" alt="" class="img-responsive"></div>
					</div>
					<div class="col-md-4">
						<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/about_3.jpg" alt="" class="img-responsive"></div>
					</div>
				</div>
			</div>
			<div class="clear height-50"></div><div class="height-15"></div>

			<div class="mw780 tengah">
				<p>Hersindo Logistic, was once a traditionaly run company with over 20 years of experience in the field of freight forwarding and international transport. &nbsp;Now, this vast experience has allowed us to transform the company into a fully modern operation one, with a steady growth over time showing just how much trust that we got in this ever changing economy.&nbsp;</p>

				<p>Empowered by a highly trained and experienced team of over 50 professionals spreading all over the nation, we constantly work towards achieving customer. Our strategic association with domestic and international freight forwarders allows our clients to enjoy a wide range of state-of-the-art, tailor-made freight services in a timely and cost effective manner.</p>

				<p>On every project, Hersindo logistic always develop a detailed understanding of our clients businesses and then partner each one of them by offering end-to-end logistic, chain supply management, legal, warehousing and distribution solutions. &nbsp;</p>

				<div class="clear"></div>
			</div>

			<div class="clear height-50"></div><div class="height-5"></div>
			<div class="illustra_about">
				<div class="row">
					<div class="col-md-4">
						<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/about_4.jpg" alt="" class="img-responsive"></div>
					</div>
					<div class="col-md-4">
						<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/about_5.jpg" alt="" class="img-responsive"></div>
					</div>
					<div class="col-md-4">
						<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/about_6.jpg" alt="" class="img-responsive"></div>
					</div>
				</div>
			</div>
			<div class="clear height-50"></div><div class="height-5"></div>
			<h3>&ldquo;Mutual trust and friendship is the key<br> to success in our business&rdquo;</h3>
			<div class="clear height-40"></div>
			<div class="mw780 tengah">
				<p>We strive towards customer satisfaction by continuously improve our process and offerings so as to enable us to deliver cargos and services that meet our customers&#39; expecations. Hersindo logistic relies on our human resource team work, a commitment from every employee to contribute towards the overall success of the company and all fellow employees.</p>
				<div class="clear"></div>
			</div>

			<div class="clear"></div>
		</div>
		{# end inside cont #}
		<div class="clear"></div>
	</div>
</div>

<div class="back_inside_about_bottom2">
	<div class="prelatife container">
		<div class="insides">
			<div class="row">
				<div class="col-md-6"></div>
				<div class="col-md-6">

					<div class="outers_listcommitment_about">
						<div class="margin-bottom-45">
							<h2>OUR COMMITMENT</h2>
							<div class="clear"></div>
							<p>Exceeding expecation and delivering value, thus strengthening our customer relationships and developing newer ones by delivering highly attractive and innovative products and services.</p>
							<div class="clear"></div>
						</div>
						<div class="margin-bottom-45">
							<h2>OUR VISION</h2>
							<div class="clear"></div>
							<p>Become the major player and the benchmark of Indonesia&rsquo;s qualified logistic company.</p>
							<div class="clear"></div>
						</div>
						<div class="margin-bottom-45 mb-0">
							<h2>OUR MISSION</h2>
							<div class="clear"></div>
							<p>Consistency of timely & safely delivery.</p>
							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
					{# end commitment about #}

				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
{# end back about bottom #}

<section class="default_sc" id="section3_home">
		<div class="prelatife container">
			
			<div class="insides">
				<div class="tops">
					<h2 class="sub_title">WHAT HERSINDO LOGISTIC HAS TO OFFER</h2>
					<div class="clear"></div>
					<span>Our competitive power lies in our commitment to be the best to respond the dynamic changing economy.</span>
					<div class="clear"></div>
					<p>Hersindo customers will expect to get:</p>
					<div class="clear"></div>
				</div>
				<div class="clear height-50"></div>

				{# Start list icon banners home #}
				<div class="lists_icon_bannerHome">
					<div class="row default">
						<div class="col-md-3 col-sm-6">
							<div class="items tengah text-center">
								<img src="{{ app.request.baseurl }}/asset/images/home-icon-1.png" alt="" class="img-responsive center-block">
								<div class="clear height-30"></div>
								<span class="titles">Customised Solutions</span>
								<div class="clear"></div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="items tengah text-center">
								<img src="{{ app.request.baseurl }}/asset/images/home-icon-2.png" alt="" class="img-responsive center-block">
								<div class="clear height-30"></div>
								<span class="titles">Professionalism & Reliability</span>
								<div class="clear"></div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="items tengah text-center">
								<img src="{{ app.request.baseurl }}/asset/images/home-icon-3.png" alt="" class="img-responsive center-block">
								<div class="clear height-30"></div>
								<span class="titles">The use of modern technology</span>
								<div class="clear"></div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="items tengah text-center">
								<img src="{{ app.request.baseurl }}/asset/images/home-icon-4.png" alt="" class="img-responsive center-block">
								<div class="clear height-30"></div>
								<span class="titles">Excellent supply chain management</span>
								<div class="clear"></div>
							</div>
						</div>

					</div>
				</div>
				{# end list icon banners home #}

				<div class="clear"></div>
			</div>

			<div class="clear"></div>
		</div>
	</section>
	{# end home management home #}
{% endblock %}
