{% extends layout %}
{% block title %}Contact Us - {% endblock %}
{% block menu %}contact{% endblock %}
{% block content %}
<div class="insides_toppage_blocks prelatife back_contact">
		{% include "/layouts/header.twig" with { 'menu': block('menu') } %}
		<div class="blocks_bottom_intop_page">
			<div class="text-center">
				<h1 class="title_page">CONTACT US</h1>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	
<div class="back_insides_pagetop_1 back_white">
	<div class="prelatife container">
		<div class="content-text text-center content_contact">
			<div class="mw960 tengah">
				<h3>Hersindo customer service team will cater for all your <br>
					needs of information and other inquiries</h3>
				<div class="clear height-40"></div>
				<div class="mw745 tengah text-center">
					<div class="row">
						{#<div class="col-md-6">#}
						{#	<p><strong>Surabaya</strong><br />#}
						{#	Jl. Laksda M Nasir 29/F3<br />#}
						{#	Surabaya, East Java.<br />#}
						{#	Telephone. 031 328 7188, 328 6266, 328 6267<br />#}
						{#	Fax. 031 3286268, 3286269<br />#}
						{#	Email. <a href="mailto:sub-office@hersindo.com">sub-office@hersindo.com</a>, <a href="mailto:hersindo2003@yahoo.com">hersindo2003@yahoo.com</a></p>#}
						{#</div>#}
						<div class="col-md-6">
							<p><strong>Surabaya</strong><br />
							JL INDRAPURA BARU NO 353 E<br />
							Surabaya, East Java.<br />
							Telephone. 031 99018155 , 99018804,99094722<br />
							Email. <a href="mailto:office.hersindo03@gmail.com">office.hersindo03@gmail.com</a>, <a href="mailto:hersindosurabaya@gmail.com">hersindosurabaya@gmail.com</a></p>
						</div>
						<div class="col-md-6">
							<p><strong>Lombok</strong><br />
							Jl. Raya Selaparang 119, Sweta<br />
							Lombok, Nusa Tenggara Barat.<br />
							Telephone. 0370 628989<br />
							Fax. 0370 621416<br />
							Email. <a href="mailto:lombok-office@hersindo.com">lombok-office@hersindo.com</a>, <a href="mailto:hersindo.lombok@gmail.com">hersindo.lombok@gmail.com</a></p>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear height-40"></div>
				<p><strong>Contact Hersindo for inquiries anytime with our online contact form.</strong></p>
				<div class="clear height-20"></div>

				{# start form contact #}
					<div class="box-form tl-contact-form">
						{% if error|length > 0 %}
						    <div class="alert alert-danger bg-danger">
						    	<button type="button" class="close" data-dismiss="alert">&times;</button>
							    <h6>Please fix the following input errors:</h6>
							    <ul>
							    	{% for dataError in error %}
							    	<li>{{ dataError }}</li>
							    	{% endfor %}
							    </ul>
						    </div>
						{% endif %}
						<div style="max-width:700px; margin:0 auto;">
							{% if msg == 'error_message' %}
							    <div class="alert alert-danger">
							    	<button type="button" class="close" data-dismiss="alert">&times;</button>
								    Please Check Captcha for sending contact form! 
							    </div>
							{% endif %}
							{% if msg == 'success' %}
							    <div class="alert alert-success">
							    	<button type="button" class="close" data-dismiss="alert">&times;</button>
								    Thank you for contacting us! we will respond to you shortly.
							    </div>
							{% endif %}
						</div>

						<form method="post" action="" role="form">
							<div class="row default">
								<div class="col-md-12 col-sm-12">
									<div class="form-group">
									    <label for="exampleInputName">Your Name</label>
									    <div class="clear"></div>
									    <input type="text" name="Contact[name]" class="form-control" id="exampleInputName"  required>
									</div>
								</div>
							</div>
							<div class="row default">
								<div class="col-md-12 col-sm-12">
									<div class="form-group">
									    <label for="exampleInputName">Email Address</label>
									    <div class="clear"></div>
									    <input type="text" name="Contact[email]" class="form-control" id="exampleInputName"  required>
									</div>
								</div>
							</div>
							<div class="row default">
								<div class="col-md-12 col-sm-12">
									<div class="form-group">
									    <label for="exampleInputName">Telephone</label>
									    <div class="clear"></div>
									    <input type="text" name="Contact[phone]" class="form-control" id="exampleInputName"  required>
									</div>
								</div>
							</div>
							<div class="row default">
								<div class="col-md-12 col-sm-12">
									<div class="form-group">
									    <label for="exampleInputName">Company / Organisation</label>
									    <div class="clear"></div>
									    <input type="text" name="Contact[company]" class="form-control" id="exampleInputName"  required>
									</div>
								</div>
							</div>


							<div class="row default">
								<div class="col-md-12 col-sm-12">
									<div class="form-group">
									    <label for="exampleInputEmail">Address</label>
									    <div class="clear"></div>
									    <input type="text" name="Contact[address]" class="form-control" id="exampleInputEmail"  required>
									</div>
								</div>
							</div>

							<div class="row default">
								<div class="col-md-12 col-sm-12">
									<div class="form-group">
									    <label for="exampleInputMessage">Message</label> 
									    <div class="clear"></div>
									    <div class="clear"></div>
									    <textarea name="Contact[message]" rows="4" class="form-control" required></textarea>

									</div>
								</div>
							</div>

							<div class="row default">
								<div class="col-md-12 col-sm-12">
									<div class="fright-inpd">
										<div class="form-group mb-0">
											<div class="fleft">
												<div class="g-recaptcha" data-sitekey="6Ld-ByoTAAAAAPYDTGS5VBvMl9k4xRKt3rjI89dF"></div>
											</div>
											<div class="visible-xs height-10"></div>
											<div class="fright">
												<div class="clear height-2"></div>
												<button type="submit" class="btn btn-default btns-submit-bt"></button>
											</div>
											<div class="clear"></div>
										</div>
									</div>
								</div>
							</div>
						</form> 
						<div class="clear"></div>
					</div>
					{# end form contact #}

				<div class="clear"></div>
			</div>
			<div class="clear height-10"></div>

			<div class="clear"></div>
		</div>
		{# end inside cont #}
		<div class="clear"></div>
	</div>
</div>
<script src='https://www.google.com/recaptcha/api.js'></script>
{% endblock %}
