{% extends layout %}
{% block title %}Your Delivery - {% endblock %}
{% block menu %}delivery{% endblock %}
{% block content %}
<div class="insides_toppage_blocks prelatife back_estimates">
	{% include "/layouts/header.twig" with { 'menu': block('menu') } %}
	<div class="clear"></div>
</div>
	
<div class="back_insides_pagetop_1 back_white">
	<div class="prelatife container">
		<div class="content-text text-center">
				<div class="mw1115 tengah">
					<h3>Your Delivery</h3>
				</div>
				<div class="clear height-40"></div>
				<div class="mw745 tengah">
					<p>Fill in your details and review your booking.</p>
				</div>

				<div class="clear height-50"></div>

				<div class="mw1005 tengah text-center">

					{% if msg != 'success' %}
					<div class="blocks_ntop_whites1">
						<div class="row">
							<div class="col-md-2">
								<div class="pictures">
									<img src="{{ app.request.baseurl }}/asset/images/picts_bannerl_truck.png" alt="" class="img img-fluid">
								</div>
							</div>
							<div class="col-md-10">
								<div class="info_rights text-left">
									<h5>{{ data.from|upper }} to {{ data.to|upper }}</h5>
									<div class="clear height-10"></div>
									<ul class="list-inline">
										<li><p><b class="pl-0 ncn_type">{{ data.type_ship }}</b></p></li>
										<li><p>Type of Container &nbsp;<b class="ncn_type2">{{ data.type_load }}</b></p></li>
										<li><p>Qty &nbsp;<b><span class="ncn_qty">{{ data.qty }}</span> &nbsp;<span class="container_type">{{ data.container_type }}</span></b></p></li>
										<li><p>Type of Goods &nbsp;<b  class="ncn_goods">{{ data.goods }}</b></p></li>
									</ul>
									<div class="celar"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="clear height-50"></div>
					<div class="clear height-40"></div>
					{% endif %}

					<div class="outers_bloc_bottom">
						<h6>Delivery Details</h6>
						<div class="clear height-25"></div>

						<div class="bg-white blocks_ntop_whites2">
							<div class="paddings text-left">
								{% if error and error|length > 0 %}
								    <div class="alert alert-danger bg-danger">
								    	<button type="button" class="close" data-dismiss="alert">&times;</button>
									    <h6>Please fix the following input errors:</h6>
									    <ul>
									    	{% for dataError in error %}
									    	<li>{{ dataError }}</li>
									    	{% endfor %}
									    </ul>
								    </div>
								{% endif %}
								<div style="max-width:700px; margin:0 auto;">
									{% if msg == 'error_message' %}
									    <div class="alert alert-danger">
									    	<button type="button" class="close" data-dismiss="alert">&times;</button>
										    Please Check Captcha for sending contact form! 
									    </div>
									{% endif %}
									{% if msg == 'success' %}
									    <div class="alert alert-success">
									    	<button type="button" class="close" data-dismiss="alert">&times;</button>
										    Thank you our estimation we process your order!.
										    <div class="py-2"></div>
										    <a target="_blank" href="{{ wa_message }}" class="btn btns_f_defa">CONTINUE TO WHATSAPP</a>
										    <div class="clear"></div>
									    </div>
									    <div class="clear height-15"></div>
									{% endif %}
								</div>
								<form method="post" action="">
								  <div class="form-group nft_top">
								    <label>Estimated Date Of Delivery</label>
								    <div class="prelatife">
								    	<input type="text" name="Estimate[dates]" class="form-control datepic">
								    	<img src="{{ app.request.baseurl }}/asset/images/icons_n_calendar.png" alt="" class="img-responsive calendar">
								    </div>
								  </div>

								  <div class="clear height-5"></div>
								  <div class="lines-greys"></div>
								  <div class="clear height-15"></div>
								  <input type="hidden" class="es" name="Estimate[from]" value="{{ data.from }}">
								  <input type="hidden" class="es" name="Estimate[to]" value="{{ data.to }}">
								  <input type="hidden" class="es" name="Estimate[type_ship]" value="{{ data.type_ship }}">
								  <input type="hidden" class="es" name="Estimate[type_load]" value="{{ data.type_load }}">
								  <input type="hidden" class="es" name="Estimate[goods]" value="{{ data.goods }}">
								  <input type="hidden" class="es" name="Estimate[qty]" value="{{ data.qty }}">
								  <input type="hidden" class="es" name="Estimate[container_type]" value="{{ data.container_type }}">

								  <div class="form-group">
								    <label><b>{{ data.from|title }}</b> Pickup Address</label>
								    <input type="text" class="form-control" name="Estimate[pickup_from]">
								  </div>
								  <div class="form-group">
								    <label><b>{{ data.to|title }}</b> Pickup Address</label>
								    <input type="text" class="form-control" name="Estimate[ship_to]">
								  </div>

								  <div class="clear height-5"></div>
								  <div class="lines-greys"></div>
								  <div class="clear height-15"></div>
								  <h6>Contact Details</h6>
								  <div class="clear height-15"></div>

								  <div class="row default">
  								  	<div class="col-md-6">
  								  		<div class="form-group">
									    <label>Full Name</label>
									    <input type="text" class="form-control" name="Estimate[name]">
									  </div>
  								  	</div>
  								  	<div class="col-md-6">
  								  		<div class="form-group">
									    <label>Company Name</label>
									    <input type="text" class="form-control" name="Estimate[company]">
									  </div>
  								  	</div>
  								  </div>
  								  <div class="row default">
  								  	<div class="col-md-6">
  								  		<div class="form-group">
									    <label>Mobile Number</label>
									    <input type="text" class="form-control" name="Estimate[phone]">
									  </div>
  								  	</div>
  								  	<div class="col-md-6">
  								  		<div class="form-group">
									    <label>Email Address</label>
									    <input type="text" class="form-control" name="Estimate[email]">
									  </div>
  								  	</div>
  								  </div>
  								  <div class="row default">
  								  	<div class="col-md-6">
  								  		<div class="g-recaptcha" data-sitekey="6Ld-ByoTAAAAAPYDTGS5VBvMl9k4xRKt3rjI89dF"></div>
  								  	</div>
  								  	<div class="col-md-6">
  								  		<button type="submit" class="btn btn-info btns_f_defa">Estimate Now</button>
  								  	</div>
  								  </div>  								  								  

								 </form>
								<div class="clear"></div>
							</div>
						</div>

						<div class="clear"></div>
					</div>

					<div class="clearfix"></div>
				</div>
			

			<div class="clear"></div>
		</div>
		{# end inside cont #}
		<div class="clear"></div>
	</div>
</div>

<script src='https://www.google.com/recaptcha/api.js'></script>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript">
  $(function(){
  	$( ".datepic" ).datepicker({
		changeMonth: true,
		changeYear: true,
  	});
  });
  </script>

  <style type="text/css">
	  a.btn.btns_f_defa{
	  	float: none;
	  	max-width: 240px;
	  	margin-top: 1rem;
	  	letter-spacing: 0;
	  }
	  .alert.alert-success{
	  	text-align: center;
	  }
  </style>
{% endblock %}
