{% extends layout %}
{% block title %}Gallery - {% endblock %}
{% block menu %}gallery{% endblock %}
{% block content %}

<div class="wrap-outer-content-inside">
	<div class="prelatife container">
		<div class="clear height-50"></div>
		<div class="height-30"></div>
		<div class="content-text text-center what_wecando">
			<h1>GALLERY</h1>
			<div class="clear height-40"></div> 
			<p>Get inspired and get your ideas to reality...</p>
			<div class="clear height-40"></div> <div class="height-5"></div>
			<div class="w1185 tengah text-center prelatife">
				<div class="clear height-15"></div>
				{# Start data Gallery #}
					{# <div class="back-line-yellow-box-gallerys"></div>
					<div class="block-outer-gallerys prelatife">
						<div class="ins-gallery">
							<div id="carousel-example-gallery" class="carousel fade" data-ride="carousel">

							  <div class="carousel-inner" role="listbox">
							    <div class="item active">
							      <img src="{{ app.request.baseurl }}/asset/images/gallery-1.jpg" alt="">
								      <div class="carousel-caption">
								        {{ 'Chapel signage - digital printing on neonbox.'|title }}
								      </div>
							    </div>
							    <div class="item">
							      <img src="{{ app.request.baseurl }}/asset/images/gallery-4.jpg" alt="">
							       <div class="carousel-caption">
								        {{ 'Backdrop / stage digital printing.'|title }}
								      </div>
							    </div>

							    <div class="item">
							      <img src="{{ app.request.baseurl }}/asset/images/gallery-backdrop printing and installation.jpg" alt="">
							       <div class="carousel-caption">
								        {{ 'Gallery backdrop printing and installation.'|title }}
								      </div>
							    </div>

							    <div class="item">
							      <img src="{{ app.request.baseurl }}/asset/images/gallery-canvas-print-and-wrapping-(spanram).jpg" alt="">
							       <div class="carousel-caption">
								        {{ 'Gallery canvas print and wrapping (spanram)'|title }}
								      </div>
							    </div>

							    <div class="item">
							      <img src="{{ app.request.baseurl }}/asset/images/gallery-fabric-dress-printing.jpg" alt="">
							       <div class="carousel-caption">
								        {{ 'Gallery fabric dress printing'|title }}
								      </div>
							    </div>

							    <div class="item">
							      <img src="{{ app.request.baseurl }}/asset/images/gallery-hi-resolution-vinyl-printing.jpg" alt="">
							       <div class="carousel-caption">
								        {{ 'Gallery hi resolution vinyl printing'|title }}
								      </div>
							    </div>

							    <div class="item">
							      <img src="{{ app.request.baseurl }}/asset/images/gallery-lasercut-on-paper-for-invitations.jpg" alt="">
							       <div class="carousel-caption">
								        {{ 'Gallery lasercut on paper for invitations'|title }}
								      </div>
							    </div>

							    <div class="item">
							      <img src="{{ app.request.baseurl }}/asset/images/gallery-Photo-album-printing-laminating-and-binding.jpg" alt="">
							       <div class="carousel-caption">
								        {{ 'Gallery photo album printing laminating and binding'|title }}
								      </div>
							    </div>

							    <div class="item">
							      <img src="{{ app.request.baseurl }}/asset/images/gallery-printing-on-tiles.jpg" alt="">
							       <div class="carousel-caption">
								        {{ 'Gallery printing on tiles'|title }}
								      </div>
							    </div>

							  </div>

							  <div class="blok-separat-control">
							  <a class="left" href="#carousel-example-gallery" role="button" data-slide="prev">
							    <img src="{{ app.request.baseurl }}/asset/images/carou-left-gallery.jpg" alt="carousel left gallery">
							  </a> &nbsp;
							  <a class="right" href="#carousel-example-gallery" role="button" data-slide="next">
							    <img src="{{ app.request.baseurl }}/asset/images/carou-right-gallery.jpg" alt="carousel left gallery">
							  </a>
							  </div>
							</div>
							<div class="clear height-20"></div> <div class="height-3"></div>
							<div class="text-center tengah text-t-bott-gallery">
							</div>

							<div class="clear"></div>
						</div>

						<div class="clear"></div>
					</div> #}
				{# End data Gallery #}
				
				{# Start New Data Gallery #}
					<div class="outer-list-data-gallery">
						<div class="row">
							{% if data %}
								{% for key, item in data %}									
									<div class="col-md-4">
										<div class="item">
											<div class="pict">
												<a href="{{ url('gallery-detail', {'id' : key, 'slug': item.slug  }) }}">
													<img class="img-responsive" src="{{ app.request.baseurl }}/image.php/{{ item.cover }}?width=406&amp;height=228&amp;image=/images/gallery/{{ item.cover }}" alt="">
												</a>
											</div>
											<div class="clear height-15"></div>
											<div class="title-gallery">
												<a href="{{ url('gallery-detail', {'id' : key, 'slug': item.slug  }) }}">
												{{ item.nama }}
												</a>
											</div>
										</div>
									</div>
								{% endfor %}
							{% endif %}

							<div class="clear"></div>
						</div>
						<div class="clear"></div>
					</div>
				{# End New Data Gallery #}
				
				<div class="height-30"></div> <div class="height-10"></div>
				<div class="tengah text-center text-bottomfux-wecan">
					<img src="{{ app.request.baseurl }}/asset/images/icon-i-skblack.png" alt="">
					<div class="clear height-10"></div>
					<span>
						Want to start your own project? <a href="{{ url('contact') }}">Contact Us</a>.
					</span>
					<div class="clear"></div>
				</div>


				<div class="clear"></div>
			</div>

			<div class="clear"></div>
		</div>	

		<div class="clear"></div>
	</div>
</div>
<div class="clear height-25"></div>
<div class="clear height-50"></div>
{% endblock %}
