{% extends layout %}
{% block title %}{% endblock %}
{% block menu %}homepage{% endblock %}
{% block content %}

	<section class="default_sc" id="abouts">
		<div class="prelatife container">
			
			<div class="insides_home_about">
				<div class="tops">
					<h2 class="sub_title">ABOUT HERSINDO LOGISTIC</h2>
					<div class="clear"></div>
					<span>Hersindo provides comprehensive logistic services for customers, serving with care and integrity.</span>
					<div class="clear"></div>
				</div>
				<div class="clear height-50"></div>
				<div class="row default">
					<div class="col-md-5">
						<div class="lefts_desc">
							<p>Hersindo Logistic, was once a traditionaly run company with over 20 years of experience in the field of freight forwarding and international transport.&nbsp;</p>

							<p>Now, this vast experience has allowed us to transform the company into a fully modern operation one, with a steady growth over time showing just how much trust that we got in this ever changing economy.&nbsp;</p>

							<p>Hersindo specialise on the business route of<br />
							Sumatra, Kalimantan, Sulawesi, NTT, NTB and not limited to another popular routes.</p>
							<div class="clear height-20"></div>
							<a href="{{ path('about') }}" class="btn btn-default btns_purpledefaults">ABOUT HERSINDO LOGISTIC</a>

							<div class="clear"></div>
						</div>

					</div>
					<div class="col-md-7">
						<div class="pictures"><img src="{{ app.request.baseurl }}/asset/images/home1_about.jpg" alt="" class="img-responsive"></div>
					</div>
				</div>

				<div class="clear"></div>
			</div>

			<div class="clear"></div>
		</div>
	</section>
	{# end home about #}

	<section class="default_sc" id="managements_home">
		<div class="prelatife container">
			
			<div class="insides_home_t2">
				<div class="tops">
					<span>
						The main goal of the company: <br>
						"Safeguarding the success of our customer!"
					</span>
					<div class="clear height-50"></div><div class="height-5"></div>
					<div class="tengah text-center">
						<div class="back_lines_whitemiddle_tengah"></div>
					</div>
					<div class="clear height-30"></div>
					<div class="text-center">
						<p class="manag">Hersindo Management</p>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>

			<div class="clear"></div>
		</div>
	</section>
	{# end home management home #}

	<section class="default_sc" id="section3_home">
		<div class="prelatife container">
			
			<div class="insides">
				<div class="tops">
					<h2 class="sub_title">WHAT HERSINDO LOGISTIC HAS TO OFFER</h2>
					<div class="clear"></div>
					<span>Our competitive power lies in our commitment to be the best to respond the dynamic changing economy.</span>
					<div class="clear"></div>
					<p>Hersindo customers will expect to get:</p>
					<div class="clear"></div>
				</div>
				<div class="clear height-50"></div>

				{# Start list icon banners home #}
				<div class="lists_icon_bannerHome">
					<div class="row default">
						<div class="col-md-3 col-sm-6">
							<div class="items tengah text-center">
								<img src="{{ app.request.baseurl }}/asset/images/home-icon-1.png" alt="" class="img-responsive center-block">
								<div class="clear height-30"></div>
								<span class="titles">Customised Solutions</span>
								<div class="clear"></div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="items tengah text-center">
								<img src="{{ app.request.baseurl }}/asset/images/home-icon-2.png" alt="" class="img-responsive center-block">
								<div class="clear height-30"></div>
								<span class="titles">Professionalism & Reliability</span>
								<div class="clear"></div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="items tengah text-center">
								<img src="{{ app.request.baseurl }}/asset/images/home-icon-3.png" alt="" class="img-responsive center-block">
								<div class="clear height-30"></div>
								<span class="titles">The use of modern technology</span>
								<div class="clear"></div>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="items tengah text-center">
								<img src="{{ app.request.baseurl }}/asset/images/home-icon-4.png" alt="" class="img-responsive center-block">
								<div class="clear height-30"></div>
								<span class="titles">Excellent supply chain management</span>
								<div class="clear"></div>
							</div>
						</div>

					</div>
				</div>
				{# end list icon banners home #}

				<div class="clear"></div>
			</div>

			<div class="clear"></div>
		</div>
	</section>
	{# end home management home #}

{% endblock %}