<p>Thank you for Estimate Delivery! we will respond to you shortly.</p>
<table>
	<tr>
		<td>From</td>
		<td>:</td>
		<td>{{ data.from }}</td>
	</tr>
	<tr>
		<td>To</td>
		<td>:</td>
		<td>{{ data.to }}</td>
	</tr>
	<tr>
		<td>Delivery Type</td>
		<td>:</td>
		<td>{{ data.type_ship }}</td>
	</tr>
	<tr>
		<td>Type Loads</td>
		<td>:</td>
		<td>{{ data.type_load }}</td>
	</tr>
	<tr>
		<td>Type of Goods</td>
		<td>:</td>
		<td>{{ data.goods }}</td>
	</tr>
	<tr>
		<td>Qty Container</td>
		<td>:</td>
		<td>{{ data.qty }}</td>
	</tr>
	<tr>
		<td>Container Type</td>
		<td>:</td>
		<td>{{ data.container_type }}</td>
	</tr>
	<tr>
		<td>Dates</td>
		<td>:</td>
		<td>{{ data.dates }}</td>
	</tr>
	<tr>
		<td>Pickup Address</td>
		<td>:</td>
		<td>{{ data.pickup_from }}</td>
	</tr>
	<tr>
		<td>Shipping Address</td>
		<td>:</td>
		<td>{{ data.ship_to }}</td>
	</tr>
	
	<tr>
		<td>Name</td>
		<td>:</td>
		<td>{{ data.name }}</td>
	</tr>
	<tr>
		<td>Email</td>
		<td>:</td>
		<td>{{ data.email }}</td>
	</tr>
	<tr>
		<td>Phone</td>
		<td>:</td>
		<td>{{ data.phone }}</td>
	</tr>
	<tr>
		<td>Company</td>
		<td>:</td>
		<td>{{ data.company }}</td>
	</tr>
</table>

<p>Copyright &copy; 2020.</p>