{% extends layout %}
{% block title %}Network - {% endblock %}
{% block menu %}network{% endblock %}
{% block content %}
<div class="insides_toppage_blocks prelatife back_network">
		{% include "/layouts/header.twig" with { 'menu': block('menu') } %}
		<div class="blocks_bottom_intop_page">
			<div class="text-center">
				<h1 class="title_page">NETWORK</h1>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	
<div class="back_insides_pagetop_1 back_white">
	<div class="prelatife container">
		<div class="content-text text-center">
				<div class="mw1115 tengah">
					<h3>Hersindo domestic network connects more than 25 reliable long-life forwarder partners that shared same global focus and local solutions.</h3>
				</div>

				<div class="clear height-40"></div>
				<div class="mw745 tengah">
					<p>Hersindo Logistic&rsquo;s networking are the key point to benefit our customers. &nbsp;Hersindo unite necessary points and manage it as one solid network.</p>
					<p>Over the years, we have grown into one of the most successful and valuable logistics in Indonesia with routes especially to NTT, NTB, Sulawesi, Sumatra and Kalimantan. With a very dedicated team of specialized young individuals, we strive to support our customers with the highest quality of service to exceed today&rsquo;s forwarders networking expectations.</p>
				</div>
			<div class="clear height-10 hidden-xs"></div>
			<div class="clear height-20 visible-xs"></div>
			<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/maps_p_network.jpg" alt="" class="img-responsive center-block"></div>
			<div class="clear height-35"></div>

			<div class="blocks_sub_title_network">
				<div class="lines-grey"></div>
				<span class="s_title">HERSINDO ROUTE Coverage</span>
			</div>
			<div class="clear height-50 hidden-xs"></div>
			<div class="clear height-20 visible-xs"></div>

			<div class="outers_list_data_networks">
				<div class="row">
					<div class="col-md-15 col-sm-6">
						<div class="items">
							<p><b>Kalimantan</b></p>
							<p>
								Balikpapan <br>
								Banjarmasin <br>
								Samarinda <br>
								Sampit <br>
								Berau
							</p>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-md-15 col-sm-6">
						<div class="items">
							<p><strong>Sulawesi</strong></p>

							<p>Kolaka <br>
							Kendari<br />
							Palu<br />
							Gorontalo<br />
							Manado<br />
							Makassar<br />
							Bau-Bau<br />
							Luwuk<br />
							Ternate</p>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-md-15 col-sm-6">
						<div class="items">
							<p><strong>Sumatra</strong></p>

							<p>Medan<br />
							Bengkulu</p>

							<div class="clear"></div>
						</div>
					</div>
					<div class="col-md-15 col-sm-6">
						<div class="items">
							<p><strong>NTB</strong></p>

							<p>Lombok<br />
							Sumbawa<br />
							Bima<br />
							Dompu</p>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-md-15 col-sm-6">
						<div class="items">
							<p><strong>NTT</strong></p>

							<p>Kupang<br />
							Atambua (ATAPUPU Port) <br>
							WINI <br>
							ENDE <br>
							Maumere<br />
							Reo<br />
							Labuhan Bajo<br />
							Waingapu<br />
							Waikabubak</p>
							<div class="clear"></div>
						</div>
					</div>

				</div>
				<div class="clear"></div>
			</div>
			{# end list data networks #}

			<div class="clear height-50"></div>
			<div class="clear height-10"></div>
			<div class="blocks_sub_title_network">
				<div class="lines-grey"></div>
				<span class="s_title">OUR PARTNER IN SEA FREIGHT</span>
			</div>
			<div class="clear height-30 hidden-xs"></div>
			<div class="clear height-20 visible-xs"></div>
			<div class="listing_logo_partner_seafreight">
				<div class="row default">
					<div class="col-md-3 col-sm-6">
						<div class="items">
							<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/logo-1.jpg" alt="" class="img-responsive"></div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="items">
							<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/logo-2.jpg" alt="" class="img-responsive"></div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="items">
							<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/logo-3.jpg" alt="" class="img-responsive"></div>
						</div>
					</div>
					<div class="col-md-3 col-sm-6">
						<div class="items">
							<div class="picture"><img src="{{ app.request.baseurl }}/asset/images/logo-4.jpg" alt="" class="img-responsive"></div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			

			<div class="clear"></div>
		</div>
		{# end inside cont #}
		<div class="clear"></div>
	</div>
</div>

{% endblock %}
