{% extends layout %}
{% block title %}Spiku &amp; Kue Kering - {% endblock %}
{% block menu %}product{% endblock %}
{% block content %}
	<div class="hidden-xs">
		<div class="clear height-50"></div><div class="height-15"></div>
	</div>
	<section class="top_outer_insidepage illustration_page back_product">
		<div class="insidesc">
			<div class="texts">
				<h1 class="title-page">Spiku & Kue Kering</h1>
			</div>
			<div class="clear"></div>
		</div>
	</section>
	{# end top section inside page #}

	<section class="section default_inside back_pattern_grey">
		<div class="insidesc">
			<div class="prelatife container">

				{# start product #}
				<div class="conts_product_home">
			<h5 class="subs_title great_font fz47 cred">Rangkaian Produk Christine Spiku & Kue Kering</h5>
			<div class="clear"></div>
			<div class="list_product_default">
				<div class="row">
					{% if Data_all_products %}
						{% for k2, item2 in Data_all_products %}
							{% for k1, item in item2 %}
								<div class="col-md-3 col-sm-6">
									<div class="items">
										<div class="pict prelatife">
											<ul id="light-gallery" class="gallery light-gallery" style="list-style:none;margin:0px; padding:0;">
												{% for key2, item_list in item.list %}
													{% if key2 == 0 %}
													<li data-src="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ item_list }}" data-sub-html="{{ item.nama|title }}">
														<a href="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ item_list }}">
															<img src="{{ app.request.baseurl }}/asset/images/product/{{ item.cover }}" alt="" class="img-responsive">
														</a>
													</li>
													{% endif %}
												{% endfor %}

												{% for key2, item_list in item.list %}
													{% if key2 >= 1 %}
													<li data-src="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ item_list }}" data-sub-html="{{ item.nama|title }}">
														<a href="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ item_list }}">
														</a>
													</li>
													{% endif %}
												{% endfor %}
											</ul>
										</div>
										<div class="desc_name">
											<ul id="light-gallery" class="gallery light-gallery" style="list-style:none;margin:0px; padding:0;">
												{% for key2, item_list in item.list %}
													{% if key2 == 0 %}
													<li data-src="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ item_list }}" data-sub-html="{{ item.nama|title }}">
														<a href="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ item_list }}">
															<div class="bl btn bt_custom btn_default">{{ item.nama|title }}</div>
														</a>
													</li>
													{% endif %}
												{% endfor %}

												{% for key2, item_list in item.list %}
													{% if key2 >= 1 %}
													<li data-src="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ item_list }}" data-sub-html="{{ item.nama|title }}">
														<a href="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ item_list }}">
														</a>
													</li>
													{% endif %}
												{% endfor %}
											</ul>
										</div>
										<div class="clear"></div>
									</div>
								</div>
							{% endfor %}
						<div class="clear height-50"></div><div class="height-10"></div>
					{% endfor %}
					{% endif %}

					{# <div class="col-md-3">
						<div class="items">
							<div class="pict prelatife">
								<img src="{{ app.request.baseurl }}/asset/images/product/spiku-kenari.jpg" alt="" class="img-responsive">
							</div>
							<div class="desc_name">
								<div class="bl btn bt_custom btn_default">SPIKU KENARI</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="items">
							<div class="pict prelatife">
								<img src="{{ app.request.baseurl }}/asset/images/product/spiku-coklat.jpg" alt="" class="img-responsive">
							</div>
							<div class="desc_name">
								<div class="bl btn bt_custom btn_default">SPIKU COKLAT</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="items">
							<div class="pict prelatife">
								<img src="{{ app.request.baseurl }}/asset/images/product/spiku-kismis.jpg" alt="" class="img-responsive">
							</div>
							<div class="desc_name">
								<div class="bl btn bt_custom btn_default">SPIKU KISMIS</div>
							</div>
							<div class="clear"></div>
						</div>
					</div> #}

					{# <div class="col-md-3">
						<div class="items">
							<div class="pict prelatife">
								<img src="{{ app.request.baseurl }}/asset/images/product/spiku-kastangel.jpg" alt="" class="img-responsive">
							</div>
							<div class="desc_name">
								<div class="bl btn bt_custom btn_default">KASTANGEL</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="items">
							<div class="pict prelatife">
								<img src="{{ app.request.baseurl }}/asset/images/product/spiku-lidah-kucing.jpg" alt="" class="img-responsive">
							</div>
							<div class="desc_name">
								<div class="bl btn bt_custom btn_default">LIDAH KUCING</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="items">
							<div class="pict prelatife">
								<img src="{{ app.request.baseurl }}/asset/images/product/spiku-nastar.jpg" alt="" class="img-responsive">
							</div>
							<div class="desc_name">
								<div class="bl btn bt_custom btn_default">NASTAR</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="items">
							<div class="pict prelatife">
								<img src="{{ app.request.baseurl }}/asset/images/product/spiku-crispy-puff.jpg" alt="" class="img-responsive">
							</div>
							<div class="desc_name">
								<div class="bl btn bt_custom btn_default">CRISPY PUFF</div>
							</div>
							<div class="clear"></div>
						</div>
					</div> #}

				</div>

			</div>

			<div class="clear"></div>
		</div>
				<div class="clear"></div>
				{# end bottom product #}

				<div class="clear"></div>
			</div>

			<div class="clear"></div>
		</div>
	</section>
	<div class="clear"></div>

	<section class="default_sc sect_top_footers shadow">
	<div class="prelatife container">
		<div class="conts">
			<div class="row prelatife">
				<div class="col-md-12">
					<div class="tx_left text-center">
						<div class="clear height-25"></div>
						<span>Aneka Sajian Produk Christine Spiku Edisi <i>Seasonal</i></span>
						<div class="clear height-5"></div><div class="height-3"></div>
						<span class="small">Pastikan anda memesan sebelum hari H untuk kenyamanan anda.</span>
					</div>
				</div>
			</div>
		</div>
		<div class="celar"></div>
	</div>
</section>
<div class="blocks_backcream_bottom_product">
	<div class="prelatife container">
		<div class="clear height-50"></div><div class="height-20"></div>

		<div class="conts_product_home">
			<div class="list_product_default">
				<div class="row">

					{% if Data_all_special %}
						{% for k1, item in Data_all_special %}
								<div class="col-md-3 col-sm-6">
									<div class="items">
										<div class="pict prelatife">
											<ul id="light-gallery" class="gallery light-gallery" style="list-style:none;margin:0px; padding:0;">
												{% for key2, item_list in item.list %}
													{% if key2 == 0 %}
													<li data-src="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ item_list }}" data-sub-html="{{ item.nama|title }}">
														<a href="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ item_list }}">
															<img src="{{ app.request.baseurl }}/asset/images/product/{{ item.cover }}" alt="" class="img-responsive">
														</a>
													</li>
													{% endif %}
												{% endfor %}

												{% for key2, item_list in item.list %}
													{% if key2 >= 1 %}
													<li data-src="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ item_list }}" data-sub-html="{{ item.nama|title }}">
														<a href="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ item_list }}">
														</a>
													</li>
													{% endif %}
												{% endfor %}
											</ul>
										</div>
										<div class="desc_name">
											<ul id="light-gallery" class="gallery light-gallery" style="list-style:none;margin:0px; padding:0;">
												{% for key2, item_list in item.list %}
													{% if key2 == 0 %}
													<li data-src="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ item_list }}" data-sub-html="{{ item.nama|title }}">
														<a href="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ item_list }}">
															<div class="bl btn bt_custom btn_default">{{ item.nama|title }}</div>
														</a>
													</li>
													{% endif %}
												{% endfor %}

												{% for key2, item_list in item.list %}
													{% if key2 >= 1 %}
													<li data-src="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ item_list }}" data-sub-html="{{ item.nama|title }}">
														<a href="{{ app.request.baseurl }}/images/{{ item.folder }}/{{ item_list }}">
														</a>
													</li>
													{% endif %}
												{% endfor %}
											</ul>
										</div>
										<div class="clear"></div>
									</div>
								</div>
							{% endfor %}
					{% endif %}
					{# <div class="col-md-3">
						<div class="items">
							<div class="pict prelatife">
								<img src="{{ app.request.baseurl }}/asset/images/product/edisi-natal.jpg" alt="" class="img-responsive">
							</div>
							<div class="desc_name">
								<div class="bl btn bt_custom btn_default">EDISI NATAL</div>
							</div>
							<div class="clear"></div>
						</div>
					</div> #}

					{# <div class="col-md-3">
						<div class="items">
							<div class="pict prelatife">
								<img src="{{ app.request.baseurl }}/asset/images/product/edisi-imlek.jpg" alt="" class="img-responsive">
							</div>
							<div class="desc_name">
								<div class="bl btn bt_custom btn_default">EDISI IMLEK</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="items">
							<div class="pict prelatife">
								<img src="{{ app.request.baseurl }}/asset/images/product/edisi-lebaran.jpg" alt="" class="img-responsive">
							</div>
							<div class="desc_name">
								<div class="bl btn bt_custom btn_default">EDISI LEBARAN</div>
							</div>
							<div class="clear"></div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="items">
							<div class="pict prelatife">
								<img src="{{ app.request.baseurl }}/asset/images/product/edisi-valentine.jpg" alt="" class="img-responsive">
							</div>
							<div class="desc_name">
								<div class="bl btn bt_custom btn_default">EDISI VALENTINE</div>
							</div>
							<div class="clear"></div>
						</div>
					</div> #}

				</div>
			</div>
		</div>
		<div class="clear height-50"></div>
		<div class="clear height-50"></div>
		<div class="clear height-35"></div>
		<div class="clear"></div>
	</div>
</div>

{# <ul id="light-gallery" class="gallery light-gallery" style="list-style:none;margin:0px; padding:0;">
<li data-src="{{ app.request.baseurl }}/asset/images/menu/pot/hot-pot-1.jpg" data-sub-html="">
	<a href="{{ app.request.baseurl }}/asset/images/menu/pot/hot-pot-1.jpg">
		
	</a>
</li>
<li data-src="{{ app.request.baseurl }}/asset/images/menu/pot/hot-pot-2.jpg" data-sub-html="">
	<a href="{{ app.request.baseurl }}/asset/images/menu/pot/hot-pot-2.jpg"></a>
</li>
</ul> #}
{% endblock %}