{% extends layout %}
{% block title %}Quality Statement - {% endblock %}
{% block menu %}quality{% endblock %}
{% block content %}
	<section class="top_outer_insidepage illustration_page back_quality">
		<div class="insidesc">
			<div class="texts">
				<h1 class="title-page">Quality Statement</h1>
			</div>
			<div class="clear"></div>
		</div>
	</section>
	
	<section class="default_sc back-grey mh420 blocks_pattern_grey">
		<div class="prelatife container">
			<div class="content-text top_cont_abouts text-center">
				<div class="mw982 center-block">
					<div class="mw830 center-block">
						
					<h2 class="fz30">&ldquo;We provide high quality agricultural commodities that meet customer demands globally.&rdquo;</h2>

					<p>Since 1965, when our founders established PT. Seger Agro Nusantara, they have the belief that bringing only the best quality is the only right thing to do. They believe this act will pave the road to the company&rsquo;s lasting success. This legacy has sustained us for more than 50 years. Today, PT. Seger Agro Nusantara is a national leader in quality agricultural commodity supplies, as well as the leader at nourishing our people. We stay committed to this belief and all our customers, employees, farmers and communities count on us to hold on to this commitment - PT. Seger Agro Nusantara continued success depends on it. &nbsp; &nbsp;</p>

						<p><strong>Our continuous quality improvement is achieved from time to time - as the result of our embedded value:</strong></p>
					</div>
					<div class="clear height-20"></div>
					<div class="row default box_quality_data">
						<div class="col-md-6 col-sm-6">
							<div class="items">
								<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/quality-1.jpg" alt="" class="img-responsive"></div>
								<div class="desc">
									<h3 class="greens">Never Ending Workforce Revolution</h3>
									<div class="clear"></div>
									<p>PT. Seger Agro Nusantara is always in pursue of performance perfections. We focus on a customer service, high performance workforce and culture. We strengthen the skills of our farmers, our human resource - all in the purpose to better serve customers and meet their complete agricultural commodity needs.</p>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6">
							<div class="items">
								<div class="pict"><img src="{{ app.request.baseurl }}/asset/images/quality-2.jpg" alt="" class="img-responsive"></div>
								<div class="desc">
									<h3 class="greens">Timely Targeted Growth</h3>
									<div class="clear"></div>
									<p>From time to time, in well planned phases - PT. Seger Agro Nusantara empowers the farmers with new knowledge of agriculture innovation, deliver new and improved ways of farming and be responsive to change and continue to enhance the diversity of our workforce.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="clear"></div>
				</div>

				<div class="clear"></div>
			</div>
		</div>
	</section>
	<section class="default_sc backs_green blocks_quality_value">
		<div class="prelatife container">
			<div class="mw990 center-block tengah">
				<div class="tops_h_line prelatife">
					<div class="lines-white"></div>
					<div class="blocks_text text-center">
						<span>
							The quality value behind all our agricultural comodities
						</span>
					</div>
				</div>
				<div class="clear height-50"></div>
				<div class="clear height-10"></div>
				
				<div class="lists_icon_quality_value">
					<div class="row">
						<div class="col-md-3 col-sm-6">
							<div class="items">
								<div class="icons"><img src="{{ app.request.baseurl }}/asset/images/icon-search-quality.png" alt="" class="img-responsive center-block"></div>
								<div class="clear height-10"></div>
								<span class="nmWhite">TRACEABLE QUALITY <br> RAW COMMODITIES</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="items">
								<div class="icons"><img src="{{ app.request.baseurl }}/asset/images/icon-gear-quality.png" alt="" class="img-responsive center-block"></div>
								<div class="clear height-10"></div>
								<span class="nmWhite">EXCELLENT MANUFACTURING <br> MACHINERIES</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="items">
								<div class="icons"><img src="{{ app.request.baseurl }}/asset/images/icon-lamp-quality.png" alt="" class="img-responsive center-block"></div>
								<div class="clear height-10"></div>
								<span class="nmWhite">CARE & RESOURCEFULL <br>HUMAN RESOURCES</span>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="items">
								<div class="icons"><img src="{{ app.request.baseurl }}/asset/images/icon-cup-quality.png" alt="" class="img-responsive center-block"></div>
								<div class="clear height-10"></div>
								<span class="nmWhite">COMPLY WITH <br>INTERNATIONAL STANDARDS</span>
							</div>
						</div>

					</div>
				</div>
				{# end list icons #}

				<div class="clear"></div>
			</div>
			<div class="clear"></div>
		</div>
	</section>

	<section class="default_sc blocks_bottom_backgroundQuality">
		<div class="prelatife container">
			<div class="clear height-20"></div>
			
			<div class="mw865 center-block text-center">
				<div class="ins_picture_bottom_quality">
					<div class="row">
						<div class="col-md-6">
							<div class="clear height-50"></div><div class="height-20"></div>
							<div class="text-center">
								<span class="texts center-block">We control our quality with integrity</span>
							</div>
							<div class="clear height-15"></div>
							<div class="pictures zin15"><img src="{{ app.request.baseurl }}/asset/images/quality-3.jpg" alt="" class="img-responsive center-block"></div>
							<div class="clear"></div>
						</div>
						<div class="col-md-6">
							<div class="pictures zin1"><img src="{{ app.request.baseurl }}/asset/images/quality-4.jpg" alt="" class="img-responsive center-block"></div>
							<div class="clear height-15"></div>
							<div class="text-center">
								<span class="texts">We keep accurate and honest records</span>
							</div>
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="clear height-50"></div>
				<div class="clear height-50"></div>
				<div class="clear height-10"></div>

				<div class="center-block text-center">
					<h2>Our performance discipline and service leadership ensures our product quality at its' best.</h2>
				</div>
				
				<div class="clear"></div>
			</div>

			<div class="clear height-50"></div>
			<div class="clear height-50"></div>
			<div class="clear height-50"></div>
			<div class="clear height-50"></div>
			<div class="clear height-50"></div>
			<div class="clear height-50"></div>
			<div class="clear"></div>
		</div>
	</section>
{% endblock %}