{% extends layout %}
{% block title %}Our Services - {% endblock %}
{% block menu %}services{% endblock %}
{% block content %}
<div class="insides_toppage_blocks prelatife back_service">
		{% include "/layouts/header.twig" with { 'menu': block('menu') } %}
		<div class="blocks_bottom_intop_page">
			<div class="text-center">
				<h1 class="title_page">OUR SERVICES</h1>
				<div class="clear"></div>
			</div>
		</div>
		<div class="clear"></div>
	</div>
	
<div class="back_insides_pagetop_1 back_white">
	<div class="prelatife container">
		<div class="content-text text-center">
			<div class="mw960 tengah">
				<h3>While operating on our day-to-day service excellence, we adhere to strict customs compliance and quality policy. there by eliminating delays and providing reliable service to our customers.</h3>
				<div class="clear height-40"></div>
				<p>Hersindo logistic are hands-on with the latest in technology, compliances, regulations <br>
					and procedures and clearance issues for every freight consignments by sea, air and road.</p>
				<div class="clear"></div>
			</div>
			<div class="clear height-40"></div>

			<div class="lists_data_service_default">
				{% if list_data_service %}
					{% for key, item in list_data_service %}
					    	<div class="m_items {% if jumlah == key %}lasted{% endif %}">
								<div class="row">
					    			{% for ky,itm in item %}
									<div class="col-md-6">
										<div class="items">
											<h5 class="s_title">{{ itm.title }}</h5>
											<div class="clear height-10"></div>
											<p>{{ itm.desc|raw }}</p>
										</div>
									</div>
					    			{% endfor %}
								</div>
								<div class="clear height-10"></div>
								<div class="lines-grey"></div>
								<div class="clear height-10"></div>
							</div>					        
					{% endfor %}
				{% endif %}
				<div class="clear"></div>
			</div>
			{# end list service default #}
			<div class="clear height-10"></div>
			<div class="tengah text-center">
				<a href="{{ path('contact') }}" class="btn btn-default btns_purpledefaults btns_purpledefaults2">CONTACT HERSINDO NOW FOR FURTHER INFORMATION</a>
			</div>

			<div class="clear"></div>
		</div>
		{# end inside cont #}
		<div class="clear"></div>
	</div>
</div>

{% endblock %}
